[2015-09-24 09:04] rodica-andronache opened #15 "Redo plugin description and add icon"
https://www.evernote.com/shard/s399/sh/8331160e-7dc1-44a8-80ff-7f3ddd08d16c/6cbcc917970fe756/res/5533c60e-c576-487d-a5ed-a932ab521d70/skitch.png?resizeSmall&width=832

[2015-09-24 14:55] rodica-andronache opened #16 "Store in database not working"

[2015-09-28 13:08] #16 closed

[2015-09-28 15:36] #15 closed

[2015-10-19 10:58] rodica-andronache opened #22 "Add plugin icon"

[2015-10-26 10:05] rodica-andronache opened #23 "Add Attachment option"
https://wordpress.org/support/topic/contact-form-with-pdf-attachment

[2015-10-26 10:10] rodica-andronache opened #24 "Add extra field"
https://wordpress.org/support/topic/extra-field-5?replies=2#post-7587072

[2015-10-27 19:01] HardeepAsrani opened #25 "Default email"
If not specified the emails should go to site admin instead of showing an error. @rodica-andronache

[2015-10-27 19:02] HardeepAsrani opened #26 "Successful Redirection"
An option to redirect user to a custom link after successful submission will be great. @rodica-andronache

[2015-10-30 18:34] alexandrastann opened #27 "Some servers need valid email for FROM email in header"
https://wordpress.org/support/topic/some-servers-need-valid-email-for-from-email-in-header?replies=1

[2015-11-10 11:32] alexandrastann opened #28 "Contact Us Section Button Colors not Changing"
The menu for changing the colors of the button in the contact us section does not seem to be actually changing the colors.
This happens only with Pirate Forms. After disabling the plugin the button color changed.

[2015-11-10 18:57] HardeepAsrani opened #29 "Change color"
People are trying to change color from Zerif Pro options. @rodica-andronache

[2015-11-13 16:38] mariusghitulescu opened #30 "Emails are not getting received on gmail"
I believe it's related to this issue:https://wordpress.org/support/topic/some-servers-need-valid-email-for-from-email-in-header

If the user doesn't set a "Contact notification sender" email, mails are not being received on gmail.
Works fine with Yahoo, but not with Gmail.

Also we should make it send to the admin's email by default, so the user is not forced to put an email in  "Contact submissio

[2015-11-16 14:08] #30 closed

[2015-11-17 11:08] rodica-andronache opened #32 "telephone number field"
https://wordpress.org/support/topic/does-it-allow-to-send-file-attachments

[2015-11-19 09:35] rodica-andronache opened #34 "test plugin with WP 4.4"
Hello, codeinwp!

WordPress 4.4 is scheduled to be released on December 8. Are your plugins ready?

After testing your plugins and ensuring compatibility, it only takes a few moments to change the readme "Tested up to:" value to 4.4. This information provides peace of mind to users and helps encourage them to update to the latest version.

Here are the current "tested" values for each of your plug

[2015-11-21 07:31] mileamadalin opened #35 "Does not go full width"
We have this message from a client:

Using Pirate Forms for Parallax One Plus, I noticed the form does not go full width on desktop displays. Mobile devices seem okay. I was able to apply a fix by adding the following with the Simple Custom CSS plugin. Essentially, all I added was, width: 100%;

Code:
.widget-box {
float: none;
display: inline-block;
margin-right: -4px;
vertical-align: top;
text-a

[2015-11-25 14:31] rodica-andronache opened #36 "Reply to option not working"
http://themeisle.com/forums/topic/pirate-forms-1-04-upgrade-contact-on-website-from-issue/

[2015-12-06 20:03] HardeepAsrani opened #38 "Encryption"
Hi guys,

Is there a way to enable PGP encryption for emails sent using the contact form?

If this is not an option, what changes would I need to make in order to replace Pirate Forms with a plugin like SimpleSecure?

Thanks
Zach

@rodica-andronache

[2015-12-08 08:46] rodica-andronache opened #39 "recaptcha on mobile"
http://themeisle.com/forums/topic/recaptcha-issues-on-mobile-support-of-alternative/

[2015-12-09 16:38] #36 closed

[2016-01-07 13:55] rodica-andronache opened #42 "Some strings can't be translated"
https://wordpress.org/support/topic/email-template-translation?replies=1

[2016-01-07 13:58] rodica-andronache commented on #42
Also https://wordpress.org/support/topic/translation-not-fully-working?replies=1

[2016-01-22 12:39] rodica-andronache opened #44 "Use SMTP Authentication? button is not saving the value"
https://wordpress.org/support/topic/requires-smtp-authentication?replies=1

[2016-01-26 13:03] alexandrastann opened #45 "Not able to capture contact form in Google Analytics"
http://themeisle.com/forums/topic/not-able-to-capture-contact-form-in-ga/

[2016-02-10 13:26] rodica-andronache opened #47 "Option to change the From address"
with the contact form submitter's email

[2016-03-07 18:51] HardeepAsrani opened #50 "Message confirmation"
We should add a confirmation feature which will sent the user who sent a message a confirmation message. We could have an option to enable/disable it and a way to customize the text being sent. @rodica-andronache

[2016-03-09 16:03] rodica-andronache commented on #35
@mileamadalin aici ar trebui un pic mai mult context. Nu prea am de unde sa stiu unde anume a pus pirate forms. Daca mai ai datele, te rog,sa specifici aici daca nu, sa inchizi issue-ul

[2016-03-09 16:13] mileamadalin commented on #35
@rodica-andronache era vorba de contact form-ul de pe contact page. Vad ca este destul de veche problema. Poate s-a rezolvat intre timp.

[2016-03-09 16:27] rodica-andronache commented on #28
@alexandrastann can you check if this is still happening? Also, was this for Zerif PRO? Have you tried changing the colors from here: http://prntscr.com/ad4j91? For me it's working

[2016-03-09 16:28] rodica-andronache commented on #29
@HardeepAsrani  can you check if this is still happening? Have you tried changing the colors from here: http://prntscr.com/ad4j91? For me it's working

[2016-03-09 16:54] #42 closed

[2016-03-10 09:10] rodica-andronache opened #51 "Add == Changelog == section to readme.txt file"
https://wordpress.org/support/topic/changes-in-version-107

[2016-03-10 10:24] rodica-andronache opened #52 "Change class order"
http://prntscr.com/adf9k4

col-sm-4 -> col-lg-4 -> form_field_wrap contact_name_wrap

[2016-03-10 13:22] #51 closed

[2016-03-10 13:22] #52 closed

[2016-03-10 13:44] rodica-andronache opened #55 "recaptcha too down"
http://prntscr.com/adhdgd

+ in sidebar : http://prntscr.com/adhpyp

[2016-03-11 14:24] #55 closed

[2016-03-24 08:37] rodica-andronache opened #58 "Change confirmation message"
This may seem like a small thing, but details are what make or break a theme (and ultimately my work for a client): the confirmation that is sent out after the contact form has been sent uses poor English. It says,"Contact form submission on YourSite". It should say, "Contact form submission to or from YourSite".

[2016-03-25 10:52] HardeepAsrani commented on #29
Working.

[2016-03-25 10:52] #29 closed

[2016-03-25 10:53] HardeepAsrani commented on #22
@rodica-andronache We can close this.

[2016-03-25 10:54] HardeepAsrani commented on #47
And this

[2016-03-25 10:54] HardeepAsrani commented on #28
Also we should close this. :)

[2016-03-27 12:13] cristian-ungureanu opened #59 "Wrong display if there are two forms on the same page"
If I put the widget in footer sidebar and I also put the shortcode in a page, when I am on that page, the name, email and subject fields from footer sidebar will be displayed in  page content, not in footer.
![selection_001](https://cloud.githubusercontent.com/assets/9929553/14065342/63daf4cc-f42e-11e5-954d-f27073262cca.png)

[2016-03-28 09:50] selu91 commented on #59
the problem is here: https://github.com/Codeinwp/pirate-forms/blob/production/js/scripts-general.js#L13

You wrap the name and subject in the same container, finding all the elements with class pirate_forms_three_inputs and collect them in the same container. You can comment that line to see that the issue is no longer there. In order to fix you need to target each form and wrap it.
I've sent a pu

[2016-03-28 14:04] #59 closed

[2016-03-28 14:28] #58 closed

[2016-03-30 10:50] rodica-andronache opened #62 "Sent from page id is wrong"
https://wordpress.org/support/topic/where-does-the-sent-from-page-information-come-from?replies=1

[2016-04-14 18:53] #22 closed

[2016-04-16 18:28] #34 closed

[2016-04-21 10:28] rodica-andronache opened #65 "Option for a Thank You page"
https://wordpress.org/support/topic/how-to-redirect-to-thank-you-page?replies=1#post-8285776

[2016-04-21 11:03] rodica-andronache commented on #45
http://www.pointit.com/blog/how-to-track-button-clicks-with-google-analytics/

[2016-05-10 13:38] rodica-andronache opened #68 "Sidebar widget should have some kind of clear after"
http://prntscr.com/b2dmiu

[2016-05-14 15:54] UVLabs opened #70 "Add phone number field"
Might be a good idea to add a phone number field to plugin.

[2016-05-16 13:46] rodica-andronache commented on #70
Duplicate of https://github.com/Codeinwp/pirate-forms/issues/32

[2016-05-16 13:46] #70 closed

[2016-05-16 14:55] rodica-andronache opened #71 "Review all the options provided by the plugin"
and see if everything is working

http://prntscr.com/b4q4fb

[2016-05-16 14:58] rodica-andronache opened #72 "Options descriptions should appear on hover"
Now it looks like this:

http://prntscr.com/b4q4q1

And it should be like this:

http://prntscr.com/b4q51j

[2016-05-16 15:01] rodica-andronache opened #73 "Use Blacklist option should be true by default"
and the option should be removed from options:

http://prntscr.com/b4q5ld

[2016-05-16 15:03] rodica-andronache opened #74 "Make email confirmation box textarea instead of text"
http://prntscr.com/b4q6y6

[2016-05-16 15:06] rodica-andronache opened #75 "Add thank you URL option like on the original plugin"
https://wordpress.org/plugins/proper-contact-form/

[2016-05-16 15:07] rodica-andronache commented on #65
duplicate of this https://github.com/Codeinwp/pirate-forms/issues/75

[2016-05-16 15:07] #65 closed

[2016-05-16 15:08] rodica-andronache commented on #26
duplicate of https://github.com/Codeinwp/pirate-forms/issues/75

[2016-05-16 15:08] #26 closed

[2016-05-17 08:28] rodica-andronache opened #76 "Redesign How to use tab"
http://prntscr.com/b50q4w

Maybe add a preview of the plugin used with Zerif

And maybe add some text like this: "If you want a more complex contact form plugin please check this link http://www.codeinwp.com/blog/best-contact-form-plugins-wordpress/ "

[2016-05-17 08:29] rodica-andronache opened #77 "Rename Messages tab"
to something like Info/Alert Messages maybe http://prntscr.com/b50qw4

[2016-05-17 08:30] rodica-andronache opened #78 "Rename Fields tab"
to something like Fields settings maybe  http://prntscr.com/b50r9e

[2016-05-17 08:31] rodica-andronache opened #79 "Recaptcha site key and secret key should appear only if the Add a recaptcha is checked"
http://prntscr.com/b50rk4

[2016-05-17 08:34] rodica-andronache opened #80 "Make nonce optional like on the original plugin"
https://wordpress.org/plugins/proper-contact-form/

https://wordpress.org/support/topic/nonce-issue#post-8341306

[2016-05-17 08:40] rodica-andronache opened #81 "Rename Labels tab"
to Fields labels

[2016-05-17 08:42] rodica-andronache opened #82 "Remove ?pcf=1#contact"
from the URL if the theme is different then Zerif Lite/Pro

[2016-05-17 08:43] rodica-andronache opened #83 "Test the plugin with the most popular themes"
not necessary ours

[2016-05-18 10:00] rodica-andronache opened #84 "Add "leave us a review" in dashbord"

[2016-05-23 09:59] #77 closed

[2016-05-23 10:38] #78 closed

[2016-05-23 10:39] #81 closed

[2016-05-23 10:53] #72 closed

[2016-05-23 10:54] #74 closed

[2016-05-23 10:55] #84 closed

[2016-05-23 10:56] rodica-andronache opened #86 "Replace leave us a review link"
http://prntscr.com/b7dqve to https://wordpress.org/support/view/plugin-reviews/pirate-forms

[2016-05-23 10:56] rodica-andronache commented on #76
@abaicus this should also be added:
Maybe add a preview of the plugin used with Zerif

And maybe add some text like this: "If you want a more complex contact form plugin please check this link http://www.codeinwp.com/blog/best-contact-form-plugins-wordpress/ "

[2016-05-23 10:58] abaicus commented on #76
Sorry! Forgot about the link. I'll do it right away :D

[2016-05-23 11:08] rodica-andronache commented on #86
@abaicus you can also do this, if you have time

[2016-05-23 11:31] abaicus commented on #76
Solved in 097d50dae959c7b24134fc50591d36d360795514.

[2016-05-23 11:31] abaicus commented on #86
Solved in 097d50dae959c7b24134fc50591d36d360795514.

[2016-05-23 11:49] #86 closed

[2016-05-23 11:50] #76 closed

[2016-05-23 12:18] rodica-andronache commented on #44
Fixed here https://github.com/Codeinwp/pirate-forms/commit/b40815c0bf98ddf1a614b1e6a302aef9bf1bf956

[2016-05-23 12:18] #44 closed

[2016-05-23 13:44] rodica-andronache opened #87 "Replace screenshots"
to match the new layout
http://prntscr.com/b7fo8a

[2016-05-29 12:07] abaicus commented on #87
[Pirate Forms Screenshots.zip](https://github.com/Codeinwp/pirate-forms/files/288313/Pirate.Forms.Screenshots.zip)

@rodica-andronache Could you please add them to the wp.org page? :D

[2016-05-30 07:56] #87 closed

[2016-06-10 12:38] #68 closed

[2016-06-20 11:08] rodica-andronache opened #89 "Send email confirmation to form submitter field not saving"
http://prntscr.com/bimt7v

[2016-06-20 17:15] #89 closed

[2016-06-20 18:19] rodica-andronache opened #91 "W3C compatible"
https://wordpress.org/support/topic/pirate-forms-w3c?replies=1

[2016-06-20 20:52] rodica-andronache opened #92 "Fixed IP issue for when using Web server behind a reverse proxy"
https://wordpress.org/support/topic/web-server-behind-a-reverse-proxy?replies=3

[2016-06-22 07:05] rodica-andronache opened #93 "Investigate issue with Pirate Forms and cyrillic characters"
http://themeisle.com/forums/topic/pirate-forms-and-name-in-cyrillic-issue/

[2016-07-05 12:00] #92 closed

[2016-07-05 12:45] #91 closed

[2016-07-06 10:45] #73 closed

[2016-07-06 13:40] #79 closed

[2016-07-06 14:13] #28 closed

[2016-07-06 14:29] #35 closed

[2016-07-06 14:43] rodica-andronache commented on #38
@ineagu what do you think about this? I think it's a bit to complex for our plugin, if we want to keep it simple.
Can we close this?

[2016-07-06 14:44] ineagu commented on #38
yep, for now

[2016-07-06 14:58] #38 closed

[2016-07-06 16:52] rodica-andronache commented on #23
https://github.com/Codeinwp/pirate-forms/commit/8c66606cfac56fea74afe7a99cdb1b2cdce5b287

[2016-07-07 12:09] #23 closed

[2016-07-07 12:32] rodica-andronache commented on #50
This is the field for this http://prntscr.com/bpxb0s

[2016-07-07 12:32] #50 closed

[2016-07-07 13:00] #75 closed

[2016-07-13 13:42] #80 closed

[2016-07-22 11:27] mariusghitulescu opened #95 "Unresponsive mobile UI"

[2016-07-25 15:00] rodica-andronache opened #97 "Investigate issue with german characters"
https://wordpress.org/support/topic/german-umlaut-oau-in-the-subject-field?replies=1

[2016-07-25 15:10] rodica-andronache opened #98 "When recaptcha is wrong, the message still says Thanks, your email was sent successfully!"
https://wordpress.org/support/topic/both-messages-success-and-error-occurred?replies=1

[2016-08-22 13:59] #47 closed

[2016-08-22 14:02] #25 closed

[2016-08-26 13:53] HardeepAsrani opened #100 "Adding Akismet support"
If possible, it will be great to add Github support to Pirate Forms to better catch spam.

@rodica-andronache

[2016-08-26 13:56] rodica-andronache commented on #100
http://contactform7.com/spam-filtering-with-akismet/

[2016-09-18 00:49] UVLabs commented on #32
+1

[2016-09-27 17:46] UVLabs commented on #98
+1

[2016-09-27 19:39] UVLabs opened #101 "Email validation on mobile"
On mobile email validation doesn't seem to work like it does on desktop so the user only sees the error message after they send the message, it also still says it's sent: http://prntscr.com/cn3d26

Not sure if we could do some kind of JS validation ontop of just the normal form email field validation on mobile before the page refreshes @rodica-andronache

[2016-09-28 01:42] UVLabs opened #102 "Fields misalign on Zerif standard pages"
@rodica-andronache the fields misalign on standard zerif pages when using the shortcode and makes it not possible to type in the name field, it seems to be caused by this piece of CSS:

![image](https://cloud.githubusercontent.com/assets/10324144/18897806/26b57e06-84fb-11e6-806c-1dbf1736f1fd.png)

Changing the code to width: auto seems to fix the issue, gotten 2 reports on this so far

[2016-09-29 18:43] suyogyashukla opened #103 "Moving the google recaptcha/api.js to below the fold"
User wants to put the script tag in the header pointing to the google api in the footer instead. Here's the thread for more details:- https://wordpress.org/support/topic/moving-the-google-recaptchaapi-js-to-below-the-fold/#post-8236019

I hope is clear :)

[2016-09-30 13:02] cristian-ungureanu commented on #71
@rodica-andronache ,
I tested  Pirate Forms on MyStock. All options are working fine. I have two mentions though.
- When I receive the mail from that form here it is how it look:
![screenshot_2](https://cloud.githubusercontent.com/assets/9929553/18992041/be9c52d2-8724-11e6-8da3-ea098abe73c4.png)
Your mail, Your Email, Subject, Your message are labels for inputs in front end ... It's a little confu

[2016-10-03 10:55] rodica-andronache commented on #102
@UVLabs I need more details here. I tested with both zerif lite and pro, and it seems ok http://dev2.themeisle.com/zerif-lite/sample-page-2/ http://dev2.themeisle.com/zerif-pro/sample-page/

[2016-10-04 12:32] rodica-andronache commented on #71
Ok , thank you :) Maybe we'll improve the layout of the message in the future, but right now, I don't think we'll invest time in that

[2016-10-04 12:32] #71 closed

[2016-10-06 14:19] rodica-andronache commented on #101
@UVLabs I tested too, and I think you're right. I think on mobile, the browser validation for type="email" is not working, and yes, some js check would be needed. Hopefully , we'll have a look on this, next week

[2016-10-06 19:16] UVLabs commented on #102
Strange doesn't seem to happen anymore. Closing.

[2016-10-06 19:16] #102 closed

[2016-10-18 15:27] chesio opened #104 "PHP Strict Standards: Only variables should be passed by reference"
Hello,

I'm getting the following notice with version 1.0.17:

The problematic line reads:

<pre>
$contact_ip = array_pop(explode(',', $_SERVER['HTTP_X_FORWARDED_FOR']));
</pre>

Since the argument to [array_pop](http://php.net/manual/en/function.array-pop.php) is passed by reference, it shouldn't be an expression, but a variable:

<pre>
$_http_x_forwarded_for = explode(',', $_SERVER['HTTP_X_FORWA

[2016-10-18 16:17] ineagu commented on #104
@rodica-andronache

[2016-10-26 15:24] mileamadalin opened #105 "Translation issue"
@rodica-andronache @selul Mesajul de 'thank you' care apare dupa trimiterea mesajului, nu pote fi tradus. Pirate Form testat cu Zerif si Polylang. Modificarea fisierelor .mo si .po nu ajuta.

[Attachments.zip](https://github.com/Codeinwp/pirate-forms/files/553694/Attachments.zip)

[2016-11-02 12:12] rodica-andronache commented on #39
https://github.com/Codeinwp/zerif-lite/issues/438

[2016-11-02 12:14] rodica-andronache commented on #39
Please try and see if you can find a solution to make the current recaptcha work on mobile, like it does when used with Tweentysixteen for example. If not, we can discuss and see if we can find another solution, for mobile, like the user suggested in the first link

[2016-11-07 13:26] rodica-andronache commented on #104
Hi @chesio ,

Sorry for the late reply. Thank you very much for the contribution. It will be available in the next update.

Regards,
Rodica

[2016-11-07 13:26] #104 closed

[2016-11-12 21:09] HardeepAsrani opened #106 "Proper reply-to in emails"
The email comes from user's own site so if he wants, he can't just reply to them straight away. We should add a reply-to field which will take the email from the submitter. @rodica-andronache

[2016-11-18 07:13] UVLabs opened #107 "Change wording for fields"
Users seem to get confused with that these two fields are for:

![image](https://cloud.githubusercontent.com/assets/10324144/20421712/1da98e06-ad3c-11e6-945e-52b3967a96cb.png)

We should maybe rename to:

Contact notification sender email -> From Email

Contact submission recipients -> To Addresses

Also I don't think it's good to use the submitter's email address as a from email I think we should

[2016-11-18 15:12] cristian-ungureanu commented on #39
@rodica-andronache , there is not much I can do here. I think we have two options:
1. Recommend some custom css, something like this:

`@media screen and (max-width: 380px){
	#rc-imageselect, .g-recaptcha {
		transform:scale(0.50);
		-webkit-transform:scale(0.50);
		transform-origin:0 0;
		-webkit-transform-origin:0 0;
	}
}`

2. Add support for [Really Simple CAPTCHA](https://wordpress.org/plugins

[2016-11-20 08:37] HardeepAsrani opened #108 "Validation issue on Safari"
If you leave the form empty and submit it, it shows all the error messages on form at once. Only happens in Safari, like this: http://pasteboard.co/8xm4nJcx.jpg

[2017-01-13 12:12] selul opened #114 "add dashboard widget"
@contactashish13 like for login customizer we need to add this here too.

[2017-01-15 02:51] UVLabs opened #115 "Issue with plugin after saving with Zerif Lite"
@rodica-andronache Contact notification sender email gets over-written with the Contact submission recipients after you save an option in Zerif Lite

[2017-01-16 23:39] contactashish13 commented on #114
@selul PR: https://github.com/Codeinwp/pirate-forms/pull/116

[2017-01-31 20:36] HardeepAsrani commented on #115
So once you save the settings in Customizer, they are changed here as well.

[2017-02-09 03:04] UVLabs commented on #115
@HardeepAsrani was that in reply to me? Did you notice the bug too?

[2017-02-09 11:36] HardeepAsrani commented on #115
Just adding up to your findings.

[2017-03-22 04:22] UVLabs opened #118 "[User request]Option to clear form after submission"
Might be useful to many

[2017-03-30 04:04] UVLabs opened #119 "Change SMTP "password" field to password input type"
@rodica-andronache it's displayed in plain text: http://prntscr.com/eq6cr7

[2017-04-01 04:28] UVLabs opened #120 "Clear fields after submit"
@rodica-andronache I have seen this been asked for a couple of times, we should maybe consider it.

[2017-04-05 08:13] UVLabs commented on #115
+1

[2017-04-06 10:19] ineagu opened #122 "Work on plugin future"
@selul we should also talk about what are our plans here, no matter what we decide I think is still worth for now to go over the listed issues and make sure the plugin is in a pretty good shape.

[2017-04-06 11:17] ineagu opened #124 "New icon & banner image"
The current icon, doesn't really look like an icon, looks a bit odd on the admin side

[2017-04-10 14:05] bogdanpopa90 commented on #124
![pirate-forms-featured](https://cloud.githubusercontent.com/assets/23031578/24865410/d6a07386-1e0f-11e7-9226-4a157254d0a9.jpg)
![pirate-forms-featured-2](https://cloud.githubusercontent.com/assets/23031578/24865412/d6c71e6e-1e0f-11e7-9a78-4ba14c74d67b.jpg)
![pirate-forms-icon](https://cloud.githubusercontent.com/assets/23031578/24865411/d6c6a5a6-1e0f-11e7-9a1d-0ff10cae486a.jpg)

[2017-04-10 14:08] bogdanpopa90 commented on #124
Preview
![preview](https://cloud.githubusercontent.com/assets/23031578/24865575/577008dc-1e10-11e7-9dd6-19c85b92b9a4.jpg)

[2017-04-10 14:09] ineagu commented on #124
How the icon looks like in admin?

[2017-04-10 14:17] rodica-andronache commented on #124
@bogdanpopa90 that "Contact database" sounds weird for me.  Maybe something like Submissions stored in the database or something else

[2017-04-10 14:24] bogdanpopa90 commented on #124
![preview2](https://cloud.githubusercontent.com/assets/23031578/24866328/7b33077c-1e12-11e7-90b4-ebf1b10a6391.jpg)

[2017-04-10 14:28] ineagu commented on #124
Good for me

[2017-04-10 14:29] bogdanpopa90 commented on #124
Ok, but first one or second with hands on laptop?

[2017-04-10 14:32] ineagu commented on #124
Doesn't matter much for me

[2017-04-10 14:40] bogdanpopa90 commented on #124
@ineagu Thanks
@rodica-andronache Uploaded files on GDrive

[2017-04-11 08:30] #124 closed

[2017-04-17 08:28] mohdshakeel commented on #39
Hi,
Just use this custom css code to resolve pirate forms recaptcha nonclickable the issue.
**.pirate_forms_wrap .form_field_wrap {
   clear: both; !important;
}**

[2017-05-04 11:29] #83 closed

[2017-05-13 00:17] HardeepAsrani opened #129 "Update Changelogs"
@rodica-andronache @selul

We need to update the changelogs with proper changes. Few users wonder what they are. :P

[2017-05-14 12:13] ineagu commented on #114
@selul I think we can enhance the dashboard widget here to recommend themes/plugins as well, using this model : https://www.dropbox.com/s/jhyx4gdov8f9zyx/Screenshot%202017-05-14%2013.10.59.png?dl=0, maybe pick themes/plugins random from themeisle author ( https://wordpress.org/themes/author/themeisle/ ) and add an install link which will open the default wp popup.

Thoughts ?

[2017-05-17 15:27] michalsvorc commented on #120
Or You could just hide the whole form.pirate_forms through JS (jQuery for some animation) and leave only the success message visible.

It confuses users because the text they entered stays in the form and looks like it 'went nowhere'. I don't want to create success page on every wp install just to reset form data.

Also adding some action on mail sent (like pirate_form_mail_sent) would be nice so

[2017-05-23 03:32] UVLabs opened #131 "Form alert messages changes have no effect"
These options: http://prntscr.com/fazv32 are being overridden by HTML5 form alert messages:

![image](https://cloud.githubusercontent.com/assets/10324144/26337476/f9653a0c-3f46-11e7-87b9-6da7439dfc60.png)

[2017-05-23 04:01] UVLabs opened #132 "Wrong sent from page"
I have the on the homepage of ShopIsle Pro but the sent from page is totally wrong, it's showing sent from a blog post

[2017-05-23 14:57] ineagu opened #133 "sidebar issue"
@rodica-andronache here is how sidebar looks like on pirate forms, it shouldn't look like that : https://www.dropbox.com/s/3lbuguvgaonjr4i/Screenshot%202017-05-23%2017.59.30.png?dl=0

[2017-05-23 15:07] ineagu commented on #133
Also add a 3rd box mentioning hestia, using this logic :

1. IF user has zerif lite we say : "Check-out our latest FREE multi-purpose theme: Hestia, your Zerif Lite content will be imported automatically! "

2. If not : " Check-out our latest FREE multi-purpose theme: Hestia"

For both we will add a preview button which will open Hestia preview in customizer.

[2017-05-24 13:36] rodica-andronache commented on #133
@mihneastanciu when you have time, could you please have a look at the new box we added http://prntscr.com/fbk5uu , for suggesting users to switch from zerif to hestia , or just get hestia ( for users that have a different theme than zerif ) ? Maybe a slightly different text would be needed and a different design idea

[2017-05-25 11:12] rodica-andronache commented on #133
@cristian-ungureanu can you please try and see if you can make the link to preview Hestia to work? I didn't manage to do that. Maybe @preda-bogdan can help

[2017-05-26 11:10] ineagu commented on #133
this might help - https://www.dropbox.com/s/rqlrvu4p993e32o/Screenshot%202017-05-26%2012.09.38.png?dl=0

[2017-05-29 11:19] rodica-andronache commented on #133
@cristian-ungureanu how is this going? :D Did you get a chance to ask Bogdan? We should not spend so much time on it

[2017-05-29 12:41] cristian-ungureanu commented on #133
@rodica-andronache , I talked with @preda-bogdan . the only solution that we've found is to create a template of our own.  We could get theme's details with `$theme = themes_api( 'theme_information', array( 'slug' => 'hestia' ) );` and then build a preview similar with the one from wordpress. It can take a while to do that.

[2017-05-29 13:01] ineagu commented on #133
I think a simpler solution and what Ash did was to open the original
preview in an iframe.

On Mon, May 29, 2017 at 1:41 PM, cristian-ungureanu <
notifications@github.com> wrote:

--
Ionut Neagu
http://themeisle.com | http://codeinwp.com | http://ionutn.com

[2017-05-31 11:02] #133 closed

[2017-06-12 09:19] mileamadalin opened #139 "Emailing your subscribers"
@selul We have a suggestion from a customer:

"
Great plugin, might need to add some more functionality like emailing your subscribers. Thanks
"

[2017-06-17 19:37] suyogyashukla commented on #32
+1

[2017-06-23 09:20] selul opened #140 "refactor pirate-forms"
I would need you help in refactor the actual pirate forms plugin:

* Refactor using the https://github.com/DevinVinson/WordPress-Plugin-Boilerplate structure
* Currently the boilerplate dont have the autloader in place, we need to have it.
* Fix any additional issues you may see, make sure we have backwards compatibility.
* Add template for the pirate forms contact form, make sure it can gets over

[2017-06-23 09:20] selul commented on #140
@contactashish13 if you want to have a call before, let me know.

[2017-06-24 06:45] contactashish13 commented on #140
@selul please check the structure of the theo or the themeisle-coffer plugin. That is the structure I'm using and it contains the autoloader as well. Can you verify that will work for this as well?

[2017-06-24 10:28] selul commented on #140
@contactashish13 yes i'm aware of this, it does a very good job, but i like how the boilerplat separate the admin/public logic, loads the assets in a single place and has a wrapper for loading of actions and filters.

Are you comfortable with trying with this one ?

[2017-06-25 07:30] contactashish13 commented on #140
@selul sure

[2017-06-27 12:28] contactashish13 commented on #140
@selul
* I've reorganized the admin menu so that the settings as well as the CPT are together under one menu.
* There are multiple places that have code related to zerif theme (e.g https://github.com/Codeinwp/pirate-forms/blob/master/pirate-forms.php#L642), I don't know how relevant that is so I've not tested it
* Have fixed an issue that occurs when the same page displays the widget as well as th

[2017-06-29 16:46] ineagu opened #142 "add simple spam trap"
We should add a simple spam trap optional ( it can be added initially only with add_theme_support ), we need it to be displayed by default on hestia for example : https://www.dropbox.com/s/xrga7d17ncty4g1/Screenshot%202017-06-29%2017.45.10.png?dl=0

cc @abaicus

[2017-06-29 16:50] ineagu opened #143 "title->subtitle spacing on front"
Especially for latest 2 sections the spacing between title and subtitle is a bit odd :

https://www.dropbox.com/s/ya4ervu22zve199/Screenshot%202017-06-29%2017.47.13.png?dl=0, here is the spacing on materialkit, I think we can emulate that one : https://www.dropbox.com/s/lfwy33bknb85tuc/Screenshot%202017-06-29%2017.49.24.png?dl=0

[2017-06-30 13:52] selul commented on #140
@contactashish13 i have some concerns here, i have fixed also the sdk loading.

1) The scope of the whole thing is not to move the code around is to make things simple and logic in order to support  further customizations and fixes that might come.
2) Why we sufix the  constants by __ ? I see these as a common pattern in your development ? Is this important for something ? If is not,  i would like

[2017-06-30 15:00] contactashish13 commented on #140
@selul
1. I understand the intent but I was not comfortable with changing everything because the code is not as simple as I was told. That is why I preferred to first move the code around for it to conform to the new structure and then make it more efficient later. If I do everything then the testing cycle will only increase. I felt that this way testing would be broken up into manageable parts. B

[2017-06-30 15:04] selul commented on #140
@contactashish13 yep, i totally understand, i thought that this would be the final version not an intermediate one.

If you have any other questions let me know. I have shared some feedback on the PR too.

[2017-06-30 17:34] poonam279 opened #144 "reCaptcha shows after click on any field"
reCaptcha is not showing in the form initially, it appears after clicking on any form field. If you click one of the text boxes in the form the recaptcha will appear.

Helpscout thread https://secure.helpscout.net/conversation/389685749/136849/
https://secure.helpscout.net/conversation/387473851/136589/?folderId=212390

[2017-07-01 07:23] contactashish13 commented on #140
@selul have made changes so that the code is a more modular. Have also made the widget an autoloaded class but this means we lose backward compatibility because the widget class had to be changed.

[2017-07-01 09:30] selul commented on #140
@contactashish13 this is not good, we have a big userbase, around 200k and losing their widget is not a solution. For feedzy lite i had a similar issue and i have included directly the file in the autoloader, you can check the code

[2017-07-01 09:37] mileamadalin opened #145 "Form name notification (suggestion)"
@selul We have a suggestion from a customer:

As the pirate forms program stands now, I have the option to have a notification sent to the submitter that their message was received. I also have the option to send notifications to others of the message that was received. In both of these emails, the "From Name" is the name of the person who entered the message in the form.

This is fine for the not

[2017-07-02 06:10] contactashish13 commented on #140
@selul because a widget is registered with the name of its class and I could not find a way around it, I've reverted this change.  The solution in feedzy lite is the same as including the file anywhere else.

[2017-07-02 08:08] selul commented on #140
@contactashish13 yes, but i would like to keep all includes in one place, can we move this in the autoloader ?

[2017-07-02 15:45] rodica-andronache commented on #144
@poonam279 this is how it was designed, to appear after the message field si focused, so I think maybe the customer in the first HS thread may have a different problem.
I also agree, that maybe this behavior can be changed somehow, or a new option added :)

[2017-07-02 21:35] HardeepAsrani commented on #144
I think of it as a good feature. Maybe adding a notice about it in the backend so the user knows.

[2017-07-03 05:30] contactashish13 commented on #140
@selul done

[2017-07-03 17:50] selul commented on #140
@contactashish13 :

* Please use loader's `add_action` instead of the wordpress add_action, check ( class-pirate-forms.php:166 )
* why in autloader are you using two variables `$class` and `$class1` ? Also, i think you can do the `str_replace( '_', '-', strtolower( $class1 ) )` in one place after the namespace check condition and reuse the value in the includes, repeating the same routine of str_r

[2017-07-04 06:36] contactashish13 commented on #140
@selul I've incorporated your suggestions. I'll work on the test cases as well.

[2017-07-06 10:04] ineagu commented on #119
we need to change this cc @contactashish13

[2017-07-06 10:05] ineagu opened #146 "tls support"
worth investigating this 👍

1.) No support for TLS?

cc @contactashish13 @selul

[2017-07-06 10:09] ineagu commented on #122
Few features that are a must have :

1. multiple forms
2. mailchimp integration
3. Attachement field should be listed before the recaptcha one and be treated the same ( users can make it required, options, none) + have an optional label.

We can experiment with 1 + 2 in a pro version starting from $19 .

[2017-07-06 11:03] rodica-andronache commented on #143
@ineagu this is for hestia right? Should I move it there?

[2017-07-06 11:07] ineagu commented on #143
right

[2017-07-06 11:32] #143 closed

[2017-07-06 14:17] contactashish13 commented on #146
@ineagu @selul added TLS/SSL/No support

Have made it a sub-branch of the refactor. PR: https://github.com/Codeinwp/pirate-forms/pull/147

[2017-07-06 16:02] contactashish13 commented on #119
@ineagu @selul

Have added this as a branch of #140

PR: https://github.com/Codeinwp/pirate-forms/pull/148

The build seems to be failing because of something unrelated to the issue
![image](https://user-images.githubusercontent.com/12953439/27920557-9e019510-6292-11e7-993c-c86ed95bc4be.png)

[2017-07-14 15:18] contactashish13 commented on #140
@selul have added test cases as well

[2017-07-18 20:02] breescorner opened #149 "Pirate Forms nags user roles with no plugin or theme rights"
Hello... I use zerif lite theme but don't use pirate forms and have not installed it. For users with no access to mess with plugins, theme, etc... they open the dashboard to a constant nag telling them they have install rights. Is there a way to stop this, so only admin can see it?

[2017-07-24 09:37] #140 closed

[2017-07-24 09:39] selul commented on #149
@breescorner can you show me a screenshot about the nag you are talking about ? Thanks !!

[2017-07-24 09:43] #146 closed

[2017-07-24 09:43] selul commented on #144
Let's see if there are more users requesting it. We can postpone this for later iterations.

[2017-07-24 09:43] #144 closed

[2017-07-24 10:12] selul commented on #142
@ineagu this is not added by Google reCAPTCHA, which we already use ?

[2017-07-24 10:13] selul commented on #139
@mileamadalin maybe later or in the future premium version

[2017-07-24 10:13] #139 closed

[2017-07-24 10:15] selul opened #151 "investigate current phpcs issues"
@contactashish13 a new release of wordpress coding standards was made so i think the current build fails because of this. I have merged all your changes into v2 branch, can you please fix them ?

[2017-07-24 10:15] #129 closed

[2017-07-24 10:17] selul commented on #131
@contactashish13 can you please investigate if we can achieve this.

https://stackoverflow.com/questions/5272433/html5-form-required-attribute-set-custom-validation-message

[2017-07-24 10:18] selul commented on #122
@ineagu on the way with them :D

[2017-07-24 10:18] selul opened #152 "attachament field"
Attachement field should be listed before the recaptcha one and be treated the same ( users can make it required, optional, none) + have an optional label.

[2017-07-24 10:18] #122 closed

[2017-07-24 10:19] #119 closed

[2017-07-24 10:21] #120 closed

[2017-07-24 10:21] selul commented on #120
We will tackle this on the next release.

[2017-07-24 10:22] #118 closed

[2017-07-24 10:22] #115 closed

[2017-07-24 10:22] #114 closed

[2017-07-24 10:24] selul opened #153 "add pirate parrot debug"
@contactashish13 we should add here the pirate parrot debug message in order to have a full support with the debugging plugin.

[2017-07-24 10:26] ineagu commented on #142
reCAPTCHA is something that you cannot change his layout and in that context, especially on hestia, it looks horrific on the frontend.

my proposal is something basic, that can be enabled by default and it makes hestia form especially, nicer ;)

[2017-07-24 10:39] selul commented on #142
@ineagu do you mean to build a custom captcha, spam trap,  by us ?

[2017-07-24 10:39] selul opened #154 "add actions"
@contactashish13 i would to add two actions in the sending email process which will have also all the forms parameters passed.

something like:

[code]
Where $param1, $param2 are all the forms parameters used to send the email

[2017-07-24 10:54] ineagu commented on #142
I mean adding a simple checkbox, which need to be always checked to have
the message sent, like : I am human.

On Mon, Jul 24, 2017 at 11:39 AM, Marius Cristea <notifications@github.com>
wrote:

--
Ionut Neagu
http://themeisle.com | http://codeinwp.com | http://ionutn.com

[2017-07-24 11:40] selul opened #155 "test round"
@contactashish13 i would like to test this new version having the Zerif theme installed. Into Zerif customizer we have some controls that will sync with the pirate forms options.

1.  I would like to test changes with the old version installed and after that switch on the new version and see if the workflow is working the same.
2. Please test if the form shortcode and widget is displaying same in

[2017-07-24 11:53] selul opened #156 "create html helper classes"
@contactashish13 i would like to create 2 html helper classes which will handle the fields in the settings area and public form. Basically one would be for admin and one for public view.

Each class will have methods to add different types of controls according to the current html.

They will be used following this pattern.
[code]
The admin options and form elements will be configured using a vari

[2017-07-26 09:39] contactashish13 commented on #156
@selul PR: https://github.com/Codeinwp/pirate-forms/pull/157

I've added only one HTML helper class. I've also made the content inside the tabs more similar to each other with the tooltip popups.

I don't know why the build is failing. PHPCS works properly at my end.

[2017-07-26 11:09] selul commented on #156
@contactashish13 you need to update your wordpress coding standards to the latest, as it was a release recently and also the phpcs package to 2.9.0

[2017-07-26 17:42] contactashish13 commented on #156
@selul thanks! The build is fine now.

I was curious to understand how you knew that was the error. I don't see any explanation displayed on travis.

[2017-07-27 04:24] contactashish13 commented on #131
@selul PR: https://github.com/Codeinwp/pirate-forms/pull/158

[2017-07-27 04:35] contactashish13 commented on #154
@selul by the parameters do you mean the the arguments supplied to wp_mail?

[2017-07-27 06:44] selul commented on #154
@contactashish13 yes.

[2017-07-27 07:26] contactashish13 commented on #154
@selul PR: https://github.com/Codeinwp/pirate-forms/pull/159

[2017-07-27 07:31] contactashish13 commented on #153
@selul PR: https://github.com/Codeinwp/pirate-forms/pull/160

[2017-07-27 09:21] contactashish13 commented on #151
@selul I've fixed them in the branch itself.

[2017-07-28 04:28] contactashish13 commented on #156
@selul I've issued a new PR https://github.com/Codeinwp/pirate-forms/pull/161

[2017-07-28 04:48] contactashish13 commented on #131
@selul have created a new PR: https://github.com/Codeinwp/pirate-forms/pull/162

[2017-07-28 05:07] contactashish13 commented on #154
@selul new PR: https://github.com/Codeinwp/pirate-forms/pull/163

[2017-07-28 05:35] contactashish13 commented on #153
@selul new PR: https://github.com/Codeinwp/pirate-forms/pull/164

[2017-07-28 06:42] contactashish13 commented on #152
@selul PR: https://github.com/Codeinwp/pirate-forms/pull/165

[2017-07-28 07:08] contactashish13 commented on #155
@selul I see the options but I dont see how it creates a contact us page. can you please explain the process?

[2017-07-28 08:30] selul commented on #155
@contactashish13 can you try to dig a bit and understand the logic, i'm not sure about what you are talking about either.

[2017-07-28 10:11] contactashish13 commented on #155
@selul have had to make a few corrections. PR: https://github.com/Codeinwp/pirate-forms/pull/166

[2017-07-31 08:24] selul commented on #154
@contactashish13 why you have used `add_action` instead of `do_action` ?

[2017-07-31 08:25] #155 closed

[2017-07-31 08:25] #153 closed

[2017-07-31 08:25] #151 closed

[2017-07-31 08:28] #156 closed

[2017-07-31 08:28] #152 closed

[2017-07-31 08:28] #131 closed

[2017-07-31 09:26] selul opened #168 "build docs"
@contactashish13 having the recent changes can you help me build a two simple docs

*  on what actions and filters can users can use in the current version, what parameters does each one send and a bit of details about the context where is used each one. You have here the doc where you can start writing:
https://secure.helpscout.net/docs/56221c6d903360610fc69003/article/597ef76e2c7d3a73488b7d78

*

[2017-07-31 12:25] selul commented on #154
@contactashish13 please add `$response` also to the after hook, 1st parameter.

also i see travis is failing.

[2017-07-31 13:27] contactashish13 commented on #154
@selul PR: https://github.com/Codeinwp/pirate-forms/pull/167

[2017-07-31 17:32] contactashish13 commented on #168
@selul I assume you want the actions/filters that are defined specifically for the plugin and not the native/WP one that are being used in the plugin, right?

[2017-08-01 04:40] contactashish13 commented on #168
@selul If this is for end users, then there are no actions or filters for their use.

There are 3 actions we have defined for loading the sidebar in the admin screen:

- pirate_forms_load_sidebar
- pirate_forms_load_sidebar_theme
- pirate_forms_load_sidebar_subscribe

I believe none of them can be used by end users. Can you please clarify?

[2017-08-01 07:49] selul commented on #168
@contactashish13 i'm interested for this:
Actions:
* **pirate_forms_before_sending**
* **pirate_forms_after_sending**

Filters:
* pirateform_wrap_classes_name
* pirateform_wrap_classes_email
* pirateform_wrap_classes_subject
* pirateform_wrap_classes_message
* pirateform_wrap_classes_attachment
* pirateform_wrap_classes_captcha
* pirateform_wrap_classes_submit
* pirate_forms_public_controls
* pira

[2017-08-01 12:32] #149 closed

[2017-08-01 12:51] contactashish13 commented on #168
@selul done. can you please check?

[2017-08-01 12:52] selul commented on #168
Great. Well done.

[2017-08-01 12:56] #168 closed

[2017-08-06 21:46] UVLabs commented on #32
+1

[2017-08-06 21:47] UVLabs commented on #32
+1

[2017-08-07 10:12] ineagu commented on #32
cc @selul

[2017-08-11 07:29] selul opened #178 "make all fields optional"
@contactashish13 i would like to make all the form elements optionals, except the submit button.

Some people are complaining that they dont want the message field, some the email field.

I think we should leave them full flexibility.

Thanks !

[2017-08-11 07:31] selul opened #179 "add classes to the form tag"
@contactashish13 i would like to add to the form tag, css classes according to the fields they have.

If they have subject enabled, the form will have `pirate-forms-subject-on`, if the email the email field, we will have  pirate-forms-email-on, and so on.

This will help us and users style the form according to the fields that it has.

Thanks !

[2017-08-14 06:13] contactashish13 commented on #178
@selul have addressed both #178 and #179 in this PR: https://github.com/Codeinwp/pirate-forms/pull/180

[2017-08-14 06:14] contactashish13 commented on #179
@selul have addressed both #178 and #179 in this PR: https://github.com/Codeinwp/pirate-forms/pull/180

[2017-08-14 11:28] #179 closed

[2017-08-14 11:48] #178 closed

[2017-08-16 13:14] #145 closed

[2017-08-16 13:14] #132 closed

[2017-08-16 13:14] #108 closed

[2017-08-16 13:14] #107 closed

[2017-08-16 13:14] #106 closed

[2017-08-16 13:15] #98 closed

[2017-08-16 13:15] #62 closed

[2017-08-16 13:15] selul commented on #32
we have now in pro version

[2017-08-16 13:15] #32 closed

[2017-08-16 13:15] #27 closed

[2017-08-16 13:15] selul commented on #24
we have now in pro version.

[2017-08-16 13:15] #24 closed

[2017-08-16 16:03] #39 closed

[2017-08-16 16:04] #45 closed

[2017-08-16 16:04] #95 closed

[2017-08-16 16:04] #97 closed

[2017-08-16 16:05] #105 closed

[2017-08-17 17:58] rgallison opened #185 "Notification Email not being sent"
Hi.  I installed Pirate Forms Plugin, configured everything, including adding sender email, recipient email, and mandrill smtp.  But I'm not getting the notifications when I submit the form.

[2017-08-22 07:33] selul opened #187 "resending message"
@contactashish13 can you check the last message from this thread:

https://wordpress.org/support/topic/fields-not-cledred-after-sending/

[2017-08-22 07:34] selul commented on #185
@rgallison can you contact us at themeisle.com/contact for a more in depth debug analysis ? Please reference this issue when contacting.

ThankS !

[2017-08-22 19:47] rgallison commented on #185
I forgot to reference this issue :/

On Tue, Aug 22, 2017 at 12:34 AM, Marius Cristea <notifications@github.com>
wrote:

[2017-08-22 20:52] #187 closed

[2017-08-23 16:08] selul opened #189 "main level menu"
main level menu should redirect to settings
contacts should be renamed to entries.

[2017-08-25 15:34] selul opened #191 "add disclaimer for the mail settings area."

[2017-08-25 15:35] selul opened #192 "add nonce for the ajax actions"
@contactashish13 please add nonce for the settings save actions as well as the send test email

[2017-08-26 04:23] contactashish13 commented on #189
@selul PR for all the changes: https://github.com/Codeinwp/pirate-forms/pull/193

[2017-08-26 16:03] #189 closed

[2017-08-26 16:04] #192 closed

[2017-08-26 16:04] #191 closed

[2017-09-12 16:30] HardeepAsrani opened #198 "Remove or make additional email info optional"
A user suggested to make the last three items of an email optional or remove them: https://www.dropbox.com/s/yhnw94ir1myge2s/Screenshot%202017-09-11%2016.27.33.png?dl=0

As the user doesn't want to person to see this info and it appears in the quote of the email. It can be option or removed, and saved only to its stored post type.

Thoughts? @ineagu @selul @rodica-andronache

[2017-09-13 11:52] #185 closed

[2017-09-13 12:08] selul commented on #142
@contactashish13 let's tackle this.

We will add a new field, both in Field Settings area and in field list in form builder ( Pro ) which will be a checkbox.

Once this will be checked we will add a spam trap checkbox to the frontend.

I'm not familiar with any spam trap mechanisms but you can do some research on how we can do this.
Let me know if you have any other questions.

[2017-09-13 12:19] selul commented on #100
@contactashish13 can you check how we can do this.

[2017-09-13 12:52] ineagu commented on #142
There are much more elegant solutions as well I think, do you can research

[2017-09-13 13:24] contactashish13 commented on #142
@selul a simple spam trap already exists in the code. It wraps a text with a hidden div and calls it a honeytrap. Do you want to get rid of it and add another one?

[2017-09-13 13:33] selul commented on #142
@contactashish13 that's a different things, i would like a spam trap where user needs to interact, like they do with google recaptcha

[2017-09-13 14:23] ineagu commented on #142
first : does this work? I mean you can research a bit if it helps or is
easily understood by robots.

On Wed, Sep 13, 2017 at 1:08 PM, Marius Cristea <notifications@github.com>
wrote:

--
Ionut Neagu
http://themeisle.com | http://codeinwp.com | http://ionutn.com

[2017-09-13 15:04] contactashish13 commented on #142
@ineagu a huge majority of sites mention honeypot as the next best solution after (re)captcha. I've researched on the different methods people have been talking about and here they are. I personally like the slider captcha.

1. section #5 in https://code.tutsplus.com/tutorials/6-easy-and-efficient-ways-to-combat-spam-comments--wp-26793
2. http://tomnunamaker.com/out-with-captcha-in-with-dynamic-ch

[2017-09-13 15:13] contactashish13 commented on #100
@selul do we have an API key?

[2017-09-13 18:29] selul commented on #100
@ineagu can you help with one for test.

[2017-09-13 18:38] HardeepAsrani commented on #100
It should use user's Akismet API to do, like Jetpack does.

[2017-09-13 19:04] contactashish13 commented on #100
@selul i can think of this approach:

## admin settings
1. the user gets a check box in global settings that says integrate with akismet (global setting only, not for per-forms)
2. if akismet is installed
a. and activated, use the key
b. but not activated, display a message so that user can get a key and activate akismet
3. if akismet is not installed, provide a text box for the user to provide a

[2017-09-14 09:07] selul commented on #100
@contactashish13 yes, sounds fine.

[2017-09-14 09:17] contactashish13 commented on #100
@selul still need an api key. I tried to sign up for one but it asks for credit card details etc.

[2017-09-15 07:00] contactashish13 commented on #100
@selul thinking about it a little more, users would want to use Akismet if they have gone to the effort of procuring an API key. So maybe we should just ask the users to install and activate Akismet without giving them the option of using an Akismet key for the plugin. What do you think?

[2017-09-15 07:00] selul commented on #100
yes, we can use directly the akismet, if is active and licensed.

[2017-09-15 07:35] contactashish13 commented on #100
@selul PR: https://github.com/Codeinwp/pirate-forms/pull/200

[2017-09-18 09:43] selul commented on #142
@contactashish13 for the moment let's use just a simple checbox, i'm fine with any implementation of it.

[2017-09-22 04:36] contactashish13 commented on #142
@selul have added this feature to as an option whether the user can choose nothing, recaptcha or this.

PRs: https://github.com/Codeinwp/pirate-forms-pro/pull/33 and https://github.com/Codeinwp/pirate-forms/pull/203

[2017-09-22 19:57] selul commented on #100
@contactashish13 there is some conflict when i try to merge this, can you have a look and solve them?

[2017-09-22 20:24] selul commented on #142
@contactashish13 on the pro version, for field display we have yes, no and custom. i guess that yes means recaptcha option.

i think here we need to change the field description and name from captcha to spam trap, and the options to be no, reCaptcha, and custom.

[2017-09-23 06:04] contactashish13 commented on #142
@selul PR: https://github.com/Codeinwp/pirate-forms-pro/pull/34

[2017-09-23 09:02] contactashish13 commented on #100
@selul have resolved the conflicts

[2017-09-23 10:11] selul commented on #100
@contactashish13 there is another one with the akismet support branch.

[2017-09-23 10:18] contactashish13 commented on #100
@selul sorry, didn't see that one. resolved now.

[2017-09-25 10:26] contactashish13 commented on #100
@selul PR: https://github.com/Codeinwp/pirate-forms/pull/204

[2017-09-26 13:48] #142 closed

[2017-09-26 13:49] #100 closed

[2017-09-29 08:43] stefan-cotitosu opened #205 "Contact Form Freeze"
Between 768px - 992px **Subject** placeholder is on the wrong line and make **Name** and **Email** fields unclickable.

http://prntscr.com/gr3a22
https://secure.helpscout.net/conversation/438418411/143922/?folderId=212385

[2017-10-06 09:11] selul opened #207 "issue with custom spam trap"
https://wordpress.org/support/topic/mulitple-forms-on-a-page/

@contactashish13 can you have a look here, i think we have an issue when using multiple  forms on the same page.

[2017-10-10 08:50] contactashish13 commented on #207
@selul have added support for multiple forms. PR: https://github.com/Codeinwp/pirate-forms/pull/209

[2017-10-12 10:21] #207 closed

[2017-10-12 10:22] selul commented on #205
this should be fixed in latest ones

[2017-10-12 12:18] rodica-andronache commented on #205
is still happening https://prnt.sc/gwhgl5

[2017-10-12 12:30] selul commented on #205
@contactashish13 can you have a look.

[2017-10-16 06:41] poonam279 opened #212 "Pirate Form Widget"
@selul When we enable the attachment field and add the Pirate form Widget to any footer widget area then the other footer widget areas display just after the form. If we disable the attachment field then they appear as they should.

Helpscout thread https://secure.helpscout.net/conversation/448831714/145340?folderId=212390

[2017-10-16 09:49] selul commented on #205
@bogdanpopa90 can you have a look when you got a bit of free time.

[2017-10-16 09:57] rodica-andronache opened #214 "Attachment field not working without a spam trap option"
If you choose No spam trap, the attachment field is not working, no popup is opening to upload the file

[2017-10-16 13:48] stefan-cotitosu commented on #205
I tested it and it is not working at my end.

[2017-10-19 10:19] #212 closed

[2017-10-20 06:01] contactashish13 commented on #214
@selul PR: https://github.com/Codeinwp/pirate-forms/pull/218

the issue was more severe because the attachment field only worked when recaptcha was chosen.

A related issue: I think a lot of customers get confused when they don't see the recaptcha even though they have selected it. Its because the recaptcha is hidden and shown only when an element is clicked. Maybe this behavior needs to be change

[2017-10-26 07:31] contactashish13 commented on #214
@selul this one

[2017-10-26 07:46] selul commented on #214
@abaicus @rodica-andronache @ineagu can we do something with the reCaptcha issue   ? Maybe replace with our custom trap version which is much easier to style ?

Thanks !

[2017-10-27 15:55] ineagu commented on #214
I think we can have our spam trap as first option somehow?

[2017-11-03 11:14] selul opened #221 "recaptch js loaded all over frontend"
https://wordpress.org/support/topic/google-recaptcha-code-on-every-page/

[2017-11-03 11:56] selul commented on #214
@contactashish13 i would like to make the next change in order to assure backwards compatibility and fix this issue.

1) Add as default value the spam trap.
2) Change value for the reCaptcha setting to something else,  for instance if you were using to check if the recaptcha is enabled using:
[code]
you can change in something like this:
If( recaptcha2 is active ) { //show code }
where recaptch2 i

[2017-11-03 14:47] #205 closed

[2017-11-03 14:48] #103 closed

[2017-11-03 14:48] #101 closed

[2017-11-04 10:43] ineagu opened #222 "test with top 20 themes"
@bogdanpopa90 can you test this with 20-30 themes and see if there are common issues that can be solved from the plugin? Is a major issue and a possible reason for deactivations/1star

cc @selul

[2017-11-06 09:49] dascalescuro opened #223 "still asking for install even if plugin is installed"
@selul I was testing pirate form and for some reason, on my device, it keeps asking to install the plugin even thou it is installed -> http://prntscr.com/h6tjc5

maybe we should take a quick look?

[2017-11-06 10:00] selul commented on #223
@dascalescuro incearca sa scoti ce pluginuri mai ai si tema si vezi daca mai ai asa.

[2017-11-06 10:15] dascalescuro commented on #223
@selul cu pluginuri dezactivate exceptand pirate forms dar cu tema activa (Zillah) apare mesajul: http://prntscr.com/h6tqjw

cu alta tema activa (Twenty Fifteen/hestia) si doar pirate forms nu mai apare niciun mesaj.

cu Zillah activat si Pirate Forms activat apare iar: http://prntscr.com/h6trbi

cumva doar cu Zillah activat mesajul continua sa apar...

[2017-11-06 10:18] selul commented on #223
da, pai e din zillah mesajul/problema.

[2017-11-06 10:24] ineagu commented on #223
the message is there because of the slug, I think tgm check the slug and if the slug doesn't match still shows that. or not tgm, but our system

[2017-11-08 04:44] contactashish13 commented on #221
@selul PR: https://github.com/Codeinwp/pirate-forms/pull/224

[2017-11-09 04:13] contactashish13 commented on #214
@selul I'm not sure I understand. The hiding code is in javascript and if we remove that the catpcha will always be visible if it is selected.

[2017-11-09 09:53] selul commented on #214
Hmm, i was thinking to find a workaround to now show that for the users who are used to be hidden, but i dont think we can. Let's just remove that js thing, and make the custom trap default.

[2017-11-09 11:25] #221 closed

[2017-11-09 11:47] selul opened #226 "build gutenberg block for the default form"
I would like to test the ground by building a block for the pirate_forms, the default form.

We can add this new block  in Blocks sections -> Widgets.

For this first iteration, the block wont have any settings, it will just render the pirate_forms default form.

If you have any problems in building this dynamic block, you can check the similar ones ( Latest posts, Categories)

You can work on thi

[2017-11-09 19:26] UVLabs opened #227 "Don't submit message until recaptcha pass"
@selul I'm not sure if its possible but maybe don't attempt to submit the message until the recaptcha has been passed, saving the user a reload

[2017-11-10 07:02] contactashish13 commented on #214
@selul PR: https://github.com/Codeinwp/pirate-forms/pull/229/

Just a note that the theme customizer will also need to be changed.

[2017-11-10 11:26] selul commented on #214
@contactashish13 what do you mean by theme customizer ?

[2017-11-10 11:29] contactashish13 commented on #214
@selul the theme customizers in zerif and hestia that set whether recaptcha needs to be shown - I believe they need to be modified to remove the recaptcha key/secret and so that they send a value of 'custom' instead of 'yes' when the checkbox is unchecked. That will make the custom spam trap enabled by default and not recaptcha

[2017-11-10 11:30] selul commented on #214
can you give me an example ? I'm not sure i understand

[2017-11-10 12:49] contactashish13 commented on #214
![image](https://user-images.githubusercontent.com/12953439/32659218-b4855da2-c643-11e7-81b3-a3ba3566ddfe.png)

[2017-11-10 14:37] selul commented on #214
@abaicus can we do this in zerif and hestia ?

[2017-11-10 14:41] abaicus commented on #214
I think we can. I don't really understand exactly what should be done, though. I don't know what should be added to the theme. Right now we don't have anything of sorts in hestia.

[2017-11-13 08:46] selul commented on #214
@abaicus the things that we can do is:
1) remove from customizer the hide recaptcha/site key/secret key controls.
2) add a single checkbox, for enable spam trap.
3) style the custom trap according to the theme.

let me know if you have things clear.

[2017-11-13 09:14] selul opened #231 "add wysiwyg editor for email"
@contactashish13 i would like to add wysiwyg  editor in the free and pro version, for customizing the email sent  to admin ( the one that we store in entries )

For the lite version, we will add this in the field labels area. For the pro version, in the behavior tab, as the first field.

User will be able to use magic tags, as {email}, {ip},{name}, having a magic tags for all the fields used in th

[2017-11-16 10:03] ineagu opened #233 "load js only when needed"
cc @selul @contactashish13

[2017-11-18 05:32] contactashish13 commented on #231
@selul

Behavior tab or form fields tab?

should we add a tinymce button to insert the magic tags?

[2017-11-18 07:48] selul commented on #231
@contactashish13 yes, behavior tab.

We can keep them in the description, but make sure we show all available ones.

[2017-11-20 09:33] contactashish13 commented on #231
@selul PRs: https://github.com/Codeinwp/pirate-forms/pull/235 and https://github.com/Codeinwp/pirate-forms-pro/pull/43

[2017-11-21 10:40] ineagu commented on #214
@abaicus can you check this out? I activated hestia with pirate forms and it shows the trap by default, which is good, the bad part is that is not styled properly.

we need to see the behaviour for existing users/zerif

[2017-11-21 12:50] stefan-cotitosu opened #236 "Name field not working"
A client reported that on this page, from mobile the name field is unclickable. Most of the support team members were able to replicate the issue on Android phones. I am not sure about iOS.

http://prntscr.com/hdb3n8

This is the page where we tested this.
https://demo.themeisle.com/pirate-forms/phone-number-form/

[2017-11-21 16:13] rodica-andronache commented on #236
@bogdanpopa90 I tested on my local, and I think it's happening because of `.pirate_forms_wrap{ float: left }`. I tested with Pirate Forms only. Not the Pro version. Could you please check this tomorrow, for both lite and pro? 👍

[2017-11-21 16:25] selul commented on #233
@contactashish13 we will need to enque the css and js only when the form template is called, similar how we are trying to do with wppr.

The intent is to not load the plugin assets all over the frontend, if the form is not used on that particular page.

[2017-11-22 08:44] selul opened #237 "default of security"
@contactashish13 i dont know if this is the actual behavior but i would like at the security section to have the none version as default, not the spam trap or recaptcha.

Let me know if you have any questions.

[2017-11-23 12:14] contactashish13 commented on #233
@selul I've tested with the master branch and this seems to be already the case. If a page does not have the form, no resource is loaded.

[2017-11-23 12:34] ineagu commented on #233
I think I saw it on justfreethemes home page mayeb

[2017-11-23 12:38] selul commented on #233
@ineagu i can confirm that is nothing like this present. i think ash is right.

[2017-11-23 16:40] contactashish13 commented on #237
@selul the default was none, but the value was inherited from zerif even if zerif was not active. So if a user activates zerif, customizes it, changes the theme and then activates pirate forms, it would still take the values from zerif. I've changed this so that it inherits those options only when the theme is active.

PR: https://github.com/Codeinwp/pirate-forms/pull/239

[2017-11-27 14:02] selul commented on #237
good.

[2017-11-27 14:04] #237 closed

[2017-11-27 14:16] selul commented on #236
@bogdanpopa90 please fix the checkbox issue on custom trap when you finish this.

[2017-11-27 15:18] #233 closed

[2017-11-27 19:58] #231 closed

[2017-11-28 07:59] rodica-andronache commented on #236
@bogdanpopa90 is this finished?

[2017-11-28 15:25] bogdanpopa90 commented on #236
@rodica-andronache Yes

[2017-11-28 19:52] ineagu opened #243 "can't click on label tooltip, isn't displayed where it should"
when I go to click on the tooltip, this dissapear : https://www.dropbox.com/s/rxxa159ety99imh/Screenshot%202017-11-28%2019.52.20.png?dl=0

[2017-11-28 19:55] ineagu commented on #222
@selul @bogdanpopa90 I think we need to be a bit more careful and test better different cases when we push updates to lots of users, having visual regression will help for sure.

As a best practice regarding css for such plugins should use unique namespace and be self-contained to make sure themes aren't breaking it.

I think we need to verify how the plugin looks like and work with major themes,

[2017-12-05 10:29] selul commented on #243
@contactashish13 can you have a look ? I think we need to find a workaround to show links under the field name or something.

[2017-12-05 10:29] #236 closed

[2017-12-05 10:31] selul commented on #227
@UVLabs is not really possible as the validation is done on the server not on the client side.

[2017-12-05 10:31] #227 closed

[2017-12-05 10:35] selul commented on #214
closing this in favor of #83

[2017-12-05 10:35] #214 closed

[2017-12-05 10:41] #223 closed

[2017-12-05 10:43] selul commented on #198
in the latest version, user can completely customize http://docs.themeisle.com/article/779-how-to-change-default-email-content-in-pirate-forms

[2017-12-05 10:43] #198 closed

[2017-12-05 10:44] HardeepAsrani opened #247 "UX behavior on captcha fail"
I tested it with Zerif Lite but will be happening with other themes as well. If the user forgets to check captcha box or it fails and he submits the form, it reloads the page and the page keeps on the top of the site, so user has to scroll all the way down to see the error.

@rodica-andronache @selul

[2017-12-05 11:02] selul opened #248 "improve templating"
@contactashish13 now is very hard to change the html for each form, adding classes or ids, changing the html structure it's a total nightmare. I know that some of them are present to maintain backwards compatibility, but i think we can find a solution for both.

We need to decouple the html part from the PHP logic by introducing a templating class and templates for each type of view. I find the wp

[2017-12-05 14:52] selul commented on #226
@contactashish13 let's put this on hold for the moment.

[2017-12-06 05:49] contactashish13 commented on #243
@selul I'm now using jquery-ui tooltips. Have tested on mac/safari as well and it seems to work well. I've added a class so that it can be styled as needed. PR: https://github.com/Codeinwp/pirate-forms/pull/249

[2017-12-06 11:17] contactashish13 commented on #248
@selul

could you explain this?

[2017-12-06 12:27] selul commented on #248
i wanted to say templates not forms, what i mean is to keep the html tags just in the templates and there should be the only place where we edit them.

[2017-12-07 16:37] bogdanpopa90 commented on #222
This is the testing list (themes with more than 10k active installs):
- [ ] Twenty Fifteeen
- [ ] Twenty Sixteen
- [ ] Twenty Seventeen
- [ ] Storefront
- [ ] Sydney (athemes)
- [ ] OceanWP
- [ ] Consulting (ThinkUp Themes)
- [ ] Total (Hash)
- [ ] OnePress (Fame)
- [ ] Shapely (SilkaIns)
- [ ] Kale (Lyra)
- [ ] Astra (BrainStorm)
- [ ] Flash (ThemeGrill)
- [ ] Spacious (ThemeGrill)
- [ ] Onepage

[2017-12-07 18:16] ineagu commented on #222
while those are important the approach again is even more important, I mean
if it doesn't work with a theme we need to find the core issue and see how
we can make it work with all themes which can have same conflict :D

just a reminder :)

On Thu, Dec 7, 2017 at 4:37 PM, Bogdan Popa <notifications@github.com>
wrote:

--
Ionut Neagu
http://themeisle.com | http://codeinwp.com | http://ionutn.com

[2017-12-08 11:22] bogdanpopa90 opened #250 "Spam label issue on page with 2 forms"
For example, if we have two forms in same page, the first one in content and the second in sidebar like a widget with Custom spam option selected, when you click on second form label the checkbox of first form is selected.

This happens because both checkboxes have same #id. We should be able to create a unique id for every antispam checkbox.

Screenshot: http://prntscr.com/hkql6a

[2017-12-09 07:46] contactashish13 commented on #248
@selul The HTML fields in WPPR are rendered by WPPR_Html_Fields which is equivalent to PirateForms_HTML. So to edit a field in WPPR, one still needs to go into the WPPR_Html_Fields. The only thing different in both is retrieval of the template and the need for backward compatibility. I'm not sure how you find WPPR templater different and better and how this approach will help solve backward compat

[2017-12-09 10:25] selul commented on #248
@contactashish13 The `WPPR_Html_Fields` is used just on the admin area, the templates are not using any of those.

What i'm talking about is the frontend views of the plugins, i don't care that much how backend is generated,

Let me give you an example:
 [Review box template in wppr](https://github.com/Codeinwp/wp-product-review/blob/master/includes/public/layouts/default.php) vs [Pirate Forms - f

[2017-12-11 13:29] contactashish13 commented on #248
@selul https://github.com/Codeinwp/pirate-forms-pro/pull/48 seems to be failing because of some error in the travis configuration. Can you please check?

[2017-12-19 09:45] rohittm opened #253 "There's no option to add row in the table given in default form"
@selul @contactashish13 There should be an option to add more rows in the default table of the default form. i.e.:
![screen shot 2017-12-19 at 2 35 03 pm](https://user-images.githubusercontent.com/3204558/34150708-29406c64-e4cf-11e7-8def-04bf73b3eaab.png)

Also, If a user enters the magic tags outside the table, i.e.:
![screen shot 2017-12-19 at 2 31 28 pm](https://user-images.githubusercontent.co

[2017-12-19 09:59] rohittm opened #254 "There should be some more important fields for the user in default forms"
@selul @contactashish13 The options in default forms are:
![screen shot 2017-12-19 at 2 35 03 pm](https://user-images.githubusercontent.com/3204558/34151027-1907eace-e4d0-11e7-8330-218d05234c96.png)

I guess, the user who just want a simple form, might need some useful information like:
Name, Message, and Subject. i.e.
![screen shot 2017-12-19 at 2 55 58 pm](https://user-images.githubusercontent.c

[2017-12-19 10:01] selul commented on #254
@contactashish13 can you check ?

[2017-12-21 09:06] contactashish13 commented on #254
@selul PR: https://github.com/Codeinwp/pirate-forms/pull/255

[2017-12-23 00:11] rohittm opened #256 "User should be provided the access to both visual and text editor tabs in default form"
@selul @contactashish13 When editing email content in form labels tab, the user should be given both visual and text editor of wysiwyg so that they can add/remove the table rows for email content.

[2017-12-28 16:32] selul commented on #243
@contactashish13 for some reason the styling of the new tooltip was missing and looked like this: https://www.dropbox.com/s/jdv1vjhnnhxj817/Screenshot%202017-12-28%2015.31.19.png?dl=0

I understand that you have added that class to be styled in the future, but by default it needed to look as before.

If a PR is not final and needs some further editing please let me know before in some way in order

[2017-12-30 07:33] contactashish13 commented on #243
@selul sure, I'll let you know what all is incomplete or needs your attention.

[2017-12-30 07:34] #243 closed

[2018-01-03 11:45] #254 closed

[2018-01-09 20:15] rohittm opened #262 "File Not Included + Code not Working to include + SendInblue API not working"
So, I was testing the email subscription form:

![screen shot 2018-01-10 at 1 34 47 am](https://user-images.githubusercontent.com/3204558/34740751-83477fee-f5a6-11e7-88a8-5cf64de5266b.png)

And then I get error:

![screen shot 2018-01-10 at 1 36 10 am](https://user-images.githubusercontent.com/3204558/34740843-c86f6168-f5a6-11e7-9a65-be6bec3de068.png)

So I tried fixing this code [here](https://gi

[2018-01-09 20:59] rohittm commented on #262
So, the problem is fixed. The cURL wasn't able to fetch the details in my installation. But I checked it in other installations, and It is working now.

@selul check PR #263

[2018-01-10 09:41] selul commented on #262
@contactashish13 @rohittm can we include the composer library instead that we use now? Also, when loading the maillin class, be sure to do the collision check ( checking if that class exists already ).

[2018-01-10 09:45] contactashish13 commented on #262
@selul The composer libraries were removed because they conflicted with the official plugins: https://github.com/Codeinwp/pirate-forms-pro/commit/24d42aa1b7636ce9f7c585aec189f6d7b1d21888

[2018-01-10 09:47] selul commented on #262
i don't get your point

[2018-01-11 02:47] contactashish13 commented on #262
if you remember, we had a ticket on helpscout where the user complained that they had sendinblue plugin installed and pirate forms was conflicting with that. This is because the official plugin does not check for conflicts. That is why we had to remove this from composer and manually include the file. We did this for most libraries. Please check the commit mentioned above.

[2018-01-11 08:48] selul commented on #262
I get your point now. Yes, we should be checking the library existence first and then load it, same thing as we do in pf-pro @rohittm

[2018-01-11 09:11] contactashish13 commented on #262
@selul it doesn't work.. The official plugins don't check before loading the class that is why I had to remove all the libraries from composer.

[2018-01-11 09:13] selul commented on #262
@contactashish13 yes, i get it, i mean in pirate forms lite, we should do the same logic as we do in pro for using that subscribe widget.

[2018-01-17 15:28] mileamadalin opened #265 "Send message button issue with Hestia"
@selul @rodica-andronache If we add two words inside the Send button, the CSS will break. Please see the image attached:

<img width="1324" alt="screen shot 2018-01-17 at 5 15 14 pm" src="https://user-images.githubusercontent.com/6906834/35050536-bdf42a4c-fbab-11e7-926e-3f9cecd2b78f.png">

[2018-01-18 10:09] mileamadalin commented on #265
@selul we have a similar issue with the Parallax One theme. The "Send" button was added to the left of the forum if the recaptcha is enabled.

![screen shot 2018-01-18 at 12 04 40 pm](https://user-images.githubusercontent.com/6906834/35092361-cc837030-fc47-11e7-8a43-5eb19e42fdad.png)

The customer website: http://www.lynxytrading.co.uk/
Ticket: https://secure.helpscout.net/conversation/505751468/1

[2018-01-22 21:04] ineagu commented on #265
@abaicus we'll probably need at some point  to look on this and how pirate forms generally work in various contexts

[2018-01-22 21:08] ineagu commented on #265
the problem seems to be a combination of adding of the table-cell thing and float none: https://www.paleodata.com/contact/

[2018-01-22 21:21] abaicus commented on #265
@ineagu it surely is table cell... but if the button text is longer we need to give up table cell... :(

[2018-02-05 20:05] rohittm commented on #262
@contactashish13 @selul PR #268

[2018-02-06 22:50] HardeepAsrani commented on #226
@selul Would love to work on this one, if you want. :)

[2018-02-06 22:52] HardeepAsrani opened #269 "Send copy of email to sender"
A lot of people have asked an option that they can enable to send a copy of the sent email to the sender. @selul

[2018-02-09 20:31] HardeepAsrani opened #271 "Allow .zip attachments"
We can also allow .zip attachments as people might be sending multiple files.

[2018-02-14 08:29] selul commented on #269
@HardeepAsrani not sure if we have this already or not, @contactashish13 can you confirm ?

[2018-02-14 08:31] selul commented on #226
@HardeepAsrani we have some WIP done by @andreilupu on a different project that might be reused here. Let's see how that is going before starting from scratch here.

Also, if you are interested in practice Gutenberg we can start the work for wppr, feedzy or visualizer, one of your choice. What do you think ?

[2018-02-14 08:33] HardeepAsrani commented on #226
@selul Sure, would love that.

[2018-02-14 08:36] selul commented on #226
@HardeepAsrani let's choose one that you are most comfortable with.

[2018-02-14 08:53] selul commented on #262
@rohittm i've added one small comment.

[2018-02-14 08:58] rohittm commented on #262
@selul I don't understand.

[2018-02-14 10:26] contactashish13 commented on #269
@HardeepAsrani if the option is selected, the sender of the email is sent a confirmation email. This is not the same as the copy of the email originally sent. @selul should this feature be added?

[2018-02-14 16:06] selul commented on #269
we can work on it, i've added it in the backlog.

[2018-02-14 17:34] HardeepAsrani commented on #226
I'll try with Feedzy first. I'll be off this following week, to Thailand, and will work as soon as I get back. Will get all of them ready by the end of March.

[2018-02-15 06:26] selul commented on #226
@HardeepAsrani great, we can have a call before you will get started on this.

[2018-02-15 06:31] HardeepAsrani commented on #226
@selul Today of sometime else? After today I'll be out for a week.

[2018-02-15 06:37] selul commented on #226
Let's do it when you will be back before you will start working on it.
Enjoy WordCamp Bangkok! :D

[2018-02-15 08:44] selul commented on #262
the comment is in the pr.

[2018-02-15 08:45] selul commented on #262
@rohittm sorry, i wanted to comment on another issue.

[2018-02-15 08:45] #262 closed

[2018-02-15 11:39] #265 closed

[2018-02-15 11:39] abaicus commented on #265
@mileamadalin This should work ok now.

[2018-02-16 08:51] mileamadalin commented on #265
@abaicus Thanks!

[2018-02-20 15:01] rodica-andronache opened #273 "Redirect to a certain area of the page"
After submitting the form, for Hestia and Zerif users for example, they are redirected to the top of the page, and can't see the result messages ( either success or error messages ) as the front page contact section is at the bottom of the page.

In Zerif Pro, we have this done, but it's working with the theme's own contact form, not Pirate Forms.
Not sure what the best approach would be here.

ht

[2018-02-23 20:55] rohittm opened #274 "The page must not reload after submission of form"
@selul @contactashish13

Just an idea. If someone submits the form on on any page, the page reloads and displays the 'Thank You' message above the form fields. We can make an AJAX call or something, to not reload the page and display the thank you message.

for reference: https://wordpress.org/support/topic/how-to-redirect-to-the-contact-section-of-the-welcome-page-after-form-submission/

[2018-02-24 07:41] contactashish13 commented on #269
@selul PR: https://github.com/Codeinwp/pirate-forms-pro/pull/54 and https://github.com/Codeinwp/pirate-forms/pull/275

If the user enables this, the original email will be added to the confirmation email that is sent to the sender.

[2018-02-26 02:32] UVLabs opened #276 "Escaped characters in sent email"
The escaped characters is present in the sent email:

![image](https://user-images.githubusercontent.com/10324144/36650758-7a954332-1a7b-11e8-8781-40b69cc84e12.png)

[2018-02-26 09:08] selul commented on #269
@contactashish13 can we do any unit test to cover this ?

[2018-02-26 09:52] selul commented on #273
@contactashish13 when the form is submitted and the page gets refreshed, we need to send users to the contact area. I assume that each form has a unique id, we can append that id to the URL, like http://site.com/#contact-form

[2018-02-26 09:53] selul commented on #271
@contactashish13 can you check if already support this  ?

[2018-02-26 09:54] selul commented on #250
@contactashish13 can you check

[2018-02-26 10:15] selul commented on #247
related to #273

[2018-02-26 10:15] #247 closed

[2018-02-27 06:42] contactashish13 commented on #269
@selul have added the test case only in free. I don't think its required in PRO because the functionality resides in free.

[2018-02-27 09:41] contactashish13 commented on #250
@selul PR: https://github.com/Codeinwp/pirate-forms/pull/278

[2018-02-27 10:58] contactashish13 commented on #273
@selul PR: https://github.com/Codeinwp/pirate-forms/pull/279

I've tested with Hestia Pro, Zerif Lite/Pro and with a default WP theme. I've also tested with multiple forms on the same page.

[2018-02-28 05:12] contactashish13 commented on #276
@selul PR: https://github.com/Codeinwp/pirate-forms/pull/280

[2018-02-28 06:40] contactashish13 commented on #271
@selul I've added additional support for all types here https://en.support.wordpress.com/accepted-filetypes/

Also, when an invalid type was being uploaded, no error was being shown. Have corrected this as well.

PR: https://github.com/Codeinwp/pirate-forms/pull/281

[2018-03-05 09:47] #276 closed

[2018-03-05 09:48] #273 closed

[2018-03-05 09:48] #271 closed

[2018-03-05 09:49] #269 closed

[2018-03-05 09:54] #250 closed

[2018-03-12 16:13] selul commented on #256
@contactashish13 let's tackle this.

[2018-03-19 07:49] contactashish13 commented on #256
@selul PR: https://github.com/Codeinwp/pirate-forms-pro/pull/66 and https://github.com/Codeinwp/pirate-forms/pull/289

[2018-03-19 09:55] #256 closed

[2018-04-02 10:15] selul commented on #253
i think now is possible using the text view.

[2018-04-02 10:15] #253 closed

[2018-04-09 18:06] HardeepAsrani opened #293 "Increase attachment size"
Attachment size seems to be defined inline in the code. There can be an option or at least a filter for it? @rodica-andronache

[2018-04-16 12:34] rodica-andronache commented on #226
@HardeepAsrani you started this on feedzy? :D How is it going? Could we move the task there, to leave this just for Pirate Forms? 👍

[2018-04-16 12:36] HardeepAsrani commented on #226
@rodica-andronache Feedzy is pretty much done. Gutenberg part is done, some issues with PHP part which Marius is taking care of. And this ticket can be used for Pirate Forms. :p

[2018-04-17 14:43] #222 closed

[2018-04-17 14:43] ineagu opened #294 "checkbox label issue"
@abaicus we might wanna investigate this : http://neondevelop.wpengine.com/bunnies/, looks bad :(

[2018-04-17 14:52] abaicus commented on #294
@ineagu I think i've sent a fix for this already. It's queued within the next release. I did it when checking the new pirate forms pro version on hestia. Should look ok after the update
.

[2018-04-17 14:53] ineagu commented on #294
cc @selul

[2018-04-17 14:54] abaicus commented on #294
https://github.com/Codeinwp/hestia-pro/commit/d4a33074a881d4ddab292a09cb0bd5f21fe1086f

[2018-04-17 14:54] abaicus commented on #294
It's a Hestia thing, not an issue with PF. I checked pirate forms pro on the most popular 40-50 themes to make sure everything looks good.

[2018-04-17 14:56] ineagu commented on #294
ah ok, so this is a hestia specifc issue then?

On Tue, Apr 17, 2018 at 3:54 PM, Andrei Băicuș <notifications@github.com>
wrote:

--
Ionut Neagu
http://themeisle.com | http://codeinwp.com | http://ionutn.com

[2018-04-17 14:57] abaicus commented on #294
Yes :D Hestia Specific. Should be ok when we release.

[2018-04-25 11:55] #294 closed

[2018-04-25 12:00] rodica-andronache opened #295 "GDPR compliant"
@contactashish13 what we need here:
- [ ]  Move here the checkbox field which is not available just in the pro version ( to allow users to add a GDPR checkbox )
- [ ] Disable by default the 'Store submissions in the database' option
- [ ] When the 'Store submissions in the database' option is activated, if the user doesn't have a checkbox field enabled (for each form created), add a notice "Accord

[2018-04-27 16:04] mileamadalin opened #296 "reCaptcha without refresh"
@rodica-andronache @HardeepAsrani We have a customer that wants to be able to send a message from Contact Form with the reCaptcha activated but without refreshing the page.

https://secure.helpscout.net/conversation/569461537/160108?folderId=948378

I found some solutions for that, but still not sure if that is the best practice.

[2018-04-28 05:41] rodica-andronache commented on #295
@contactashish13 no, the checkbox in not a specific one to GDPR. Any checkbox the user might add

[2018-04-28 15:24] rodica-andronache commented on #295
@contactashish13 for the first question yes to all three a, b and c.
for the second question, I was thinking of an admin notice, but maybe you could try and see how it would look under the store in db checkbox?

[2018-04-28 18:35] contactashish13 commented on #295
@rodica-andronache I had a thought. Maybe users want to provide a link to terms and conditions. With our proposed implementation (and current implementation in pro), users can only provide plain text field. To enable users to do that, maybe we should give a WYSIWYG field for the checkbox link? Or should we do this through filters?

[2018-04-30 06:48] rodica-andronache commented on #295
@contactashish13 yes, it's a great idea. you can try with the WYSIWYG

[2018-04-30 08:40] contactashish13 commented on #295
@rodica-andronache

I have added the message

- on hover as a title attribute
- in the label popup/description
- as an admin notice

PR: https://github.com/Codeinwp/pirate-forms-pro/pull/69 and https://github.com/Codeinwp/pirate-forms/pull/297

The lite build failed because Wraith failed. Maybe Wraith should be part of allowed failure like in all other repos?

[2018-05-03 13:58] rodica-andronache commented on #295
@contactashish13 yes, you can change the travis.yml file to allow wraith to fail

[2018-05-04 10:32] rodica-andronache commented on #295
@contactashish13 I would also make the notice dismissable.
And in PRO , the checkbox appears before the message box  https://prnt.sc/jdlzzn, not sure that's ok

[2018-05-04 10:50] contactashish13 commented on #295
@rodica-andronache checkboxes are usually before the labels :) Even on google captcha or even https://github.com/Codeinwp/pirate-forms/issues/295#issue-317597173

[2018-05-04 11:01] rodica-andronache commented on #295
@contactashish13 no, what I mean, is that the checkbox field is not at the end of the form, where I would expect it, as it is in the lite version.
But it's at in the middle of the form ( where all the other custom fields are added ).

[2018-05-04 11:30] contactashish13 commented on #295
@rodica-andronache custom fields are inserted before the message box and because this checkbox is part of the custom field list, it is inserted before the message box.

In lite, it is a separate entity so it can be shown wherever required.

[2018-05-04 11:57] rodica-andronache commented on #295
@contactashish13 yes, I know why it's displayed there, I was wondering if it would be possible to add it at the end in pro too, as usually, the checkbox is at the end, at least this is how I see it :)
And for the dismissible notice, just adding the dismissible isn't enough, as it will come back again and again. I think you need to use a meta and store it in the database, to make the it really dism

[2018-05-04 11:58] contactashish13 commented on #295
@rodica-andronache right, I wanted that confirmation you want it to be actually dismissed rather than just be dismissible :)

any suggestions on how to handle the pro checkbox?

[2018-05-04 12:28] rodica-andronache commented on #295
@contactashish13 regarding the notice, I'm not sure I'm understanding.
So, for Pirate Forms, the notice will appear only when the Store in database option is selected and there isn't a checkbox field in the form.
For Pirate Forms PRO, the notice will appear only when the Store in database option is selected and **at least one** of the forms doesn't have a checkbox field.
How does this influence th

[2018-05-04 12:39] contactashish13 commented on #295
@rodica-andronache for pro, let's say there are 5 forms out of which 4 do not comply with our rule. The user will see 1 notice and dismiss that. It will effectively dismiss the notice for all 4 forms, not just for 1 form. Do you want this behavior?

this might not be a good idea because if users have already created a checkboxes in a particular sequence, this will destroy that. This is the same re

[2018-05-04 12:59] rodica-andronache commented on #295
@contactashish13 ok, for the pro, we'll leave it like this. I forgot that Marius told me that we'll add the possibility to sort the fields in the near future, so that will fix this at that point in time.
For the notice, just one notice, that will constantly appear no matter how many forms you have ( only when the Store in database option is selected and **at least one** of the forms don't have a c

[2018-05-04 13:12] contactashish13 commented on #295
@rodica-andronache the pro notice and the free notice is the same. So, if the user dismisses any of these notices, it will not pop up ever again.

I don't think this is the correct behavior. Consider this scenario:

1. User creates form with our rules (our rules = Store in database option is selected and form has checkbox). Created this field NOT for GDPR.
2. Dismisses the notice.
3. Creates anoth

[2018-05-04 14:46] contactashish13 commented on #295
Yes there will be multiple but each will be dismissible. If they are not dismissible then they would be irritating :) Basically each form will have its dismissible notice. If you check, in each notice I display the name of the form as well so that the user knows which form is problematic.

There will be one notice for the lite form as well.

Think of a scenario where the user has dismissed a notic

[2018-05-04 17:56] contactashish13 commented on #248
@rodica-andronache till we add the feature to arrange fields maybe we can add a simple filter that will allow users to do this? Something like the below:

`
apply_filters( 'pirate_forms_field_order', array( 'name', 'email', 'subject', 'custom', 'message', 'attachment'...) );
`
What do you think?

[2018-05-05 07:43] rodica-andronache commented on #295
@contactashish13 ok, let's do that :)

[2018-05-06 08:09] rvoortman commented on #295
I want to add another feature; most people don't really need to the Ip-address, maybe it's an idea to disable the tracking of the IP address.

[2018-05-07 04:46] contactashish13 commented on #295
@rodica-andronache done.

[2018-05-07 12:51] rodica-andronache commented on #295
@contactashish13 in the All forms page https://prnt.sc/jeswx3 the notice can't be dismissed, it reapers after each refresh

[2018-05-08 04:33] contactashish13 commented on #295
@rodica-andronache I've tested this and it seems to work fine for me. Each form has its own notice (prefixed with the form name).

[2018-05-09 11:35] dascalescuro commented on #295
another good idea is to send the copy of the form to the person that submitted it :)

[2018-05-11 10:13] contactashish13 commented on #248
@rodica-andronache I've synced this with dev. I've verified with zerif, hestia/pro, sydney, llorix one and the default WP themes. Have also added a simple filter that users can use to include custom fields in the end of the form (before the captcha).

The pro build is failing because it is trying to use something I fixed in the PR for lite. Maybe if you merge the PR it will work?

[2018-05-12 09:52] rodica-andronache commented on #226
@contactashish13 how is this going?

[2018-05-12 11:04] contactashish13 commented on #226
@rodica-andronache I've added basic functionality where one can add the default form and save it so that it displays on the front end. PR: https://github.com/Codeinwp/pirate-forms/pull/300

This would need a lot of work depending on the UX we eventually want (including the behavior for PRO).

[2018-05-13 10:10] contactashish13 commented on #93
@rodica-andronache I'm not able to access the link. Can you please check?

[2018-05-16 08:13] contactashish13 opened #301 "Load reCAPTCHA assets only when required"
ref https://secure.helpscout.net/conversation/581079705/161641

[2018-05-16 14:59] contactashish13 opened #303 "Conflict between bootstrap and jquery-ui-tooltip"
ref https://secure.helpscout.net/conversation/580818981/161601

[2018-05-16 15:14] contactashish13 commented on #303
@rodica-andronache PR: https://github.com/Codeinwp/pirate-forms/pull/304

[2018-05-21 04:34] contactashish13 opened #305 "add ajax support"
ref https://secure.helpscout.net/conversation/569461537/160108

[2018-05-21 13:03] rodica-andronache commented on #305
not related to this, but I also saw this notice https://prnt.sc/jknq6t

[2018-05-21 13:48] rodica-andronache commented on #301
@rohittm for me, this seems ok, but could you please take another look here? Make sure both the lite and pro versions work well 👍

[2018-05-21 15:09] rodica-andronache commented on #226
@contactashish13 looking good 👍
What I think we need next is:
- have some sort of basic styling, so we can release it. Maybe @HardeepAsrani can help, if needed 👍
- add a new block for the PRO version with a select of forms created with the pro version.
What do you think?

[2018-05-21 22:01] HardeepAsrani commented on #226
@contactashish13 You used an amazing hack to display form's HTML without much hassle. Would have never imagined that in a billion years. 😛

- For the styles, we can just enqueue `front.css` file to Gutenberg, which will appear like this:

![screenshot-block local-2018-05-22-03-26-57](https://user-images.githubusercontent.com/2649903/40332052-3c1462ae-5d70-11e8-8549-8d60b7a2cc1b.png)

It will look

[2018-05-22 09:37] rodica-andronache commented on #226
It looks good 👍

[2018-05-22 10:30] rodica-andronache commented on #248
@contactashish13 I tested a bit and with Hestia I got this https://prnt.sc/jl2hn7. This was before https://prnt.sc/jl2htc

[2018-05-22 10:42] rodica-andronache commented on #93
@contactashish13 i'm not able to access this either, as the forums are closed. I'm gonna close this, sorry :)

[2018-05-22 10:42] #93 closed

[2018-05-23 09:00] selul opened #306 "change subscription form"
@contactashish13 I would need to remove the current subscription form we have in pirate forms ( the one from the sidebar in the general settings ) where users can subscribe to our list.

I have created a subscription form in sendinblue, can you embed this instead of the old one. it will need some style tweaks to match the old design.

[form code.txt](https://github.com/Codeinwp/pirate-forms/files/

[2018-05-24 06:35] contactashish13 commented on #305
@rodica-andronache PR: https://github.com/Codeinwp/pirate-forms/pull/307 and https://github.com/Codeinwp/pirate-forms-pro/pull/71

I've tested the below scenarios:
1. default form + widget (combination of submit and ajax)
2. default form + custom form + widget (combination of submit and ajax)

[2018-05-24 10:32] contactashish13 commented on #306
@selul the existing form used to also show that the user was already subscribed. Do you want to remove that functionality?

[2018-05-24 20:45] UVLabs opened #308 "Checkbox CSS Issue"
The checkbox created from the option shows up oversized and not inline with the label on some of our themes like Zerif Lite and Parallax One:

![image](https://user-images.githubusercontent.com/10324144/40512632-768d8fe8-5f71-11e8-9b1e-044cffff0351.png)

[2018-05-24 20:47] ineagu commented on #308
cc @rodica-andronache , please use some visual tests before releases on multiple themes.

[2018-05-24 22:21] rohittm commented on #301
@rodica-andronache  @contactashish13

So, here are my tests:

1. With the lite version. There's no error and it is working fine.
2. With pro version. The site key and secret key were there in input already. Also, it worked fine.

[2018-05-25 11:36] rodica-andronache commented on #305
@contactashish13 I tried just https://github.com/Codeinwp/pirate-forms/pull/307 with [pirate_forms ajax="true"] in a post, and it doesn't seem to work with ajax. Am I missing something?

[2018-05-25 15:59] contactashish13 commented on #305
@rodica-andronache its ajax="yes" or ajax="no" :)

[2018-05-29 19:13] #301 closed

[2018-05-29 19:29] rodica-andronache commented on #295
@contactashish13 is this what this option does https://prnt.sc/jo7yyc ? What Claudiu mentioned, to send a copy to the person that submitted it.
If so, could you make sure you or @rohittm make this more clear in the GDPR documentation? Let me know :D

[2018-05-30 04:52] contactashish13 commented on #248
@rodica-andronache if you are talking about the file upload, we had made changes to that quite a few releases ago to ensure it looks identical on all browsers. This is because the file upload control is browser dependent with the button/text field interchanged. I can't seem to find the relevant PR/issue for this.

[2018-05-30 04:59] contactashish13 commented on #295
@rodica-andronache "Contact notification email address" is used as the from email ID when the mail is sent to email ids in "Contact submission recipients".

In order to send a copy to the submitter, "Add copy of mail to confirmation email" and "Send email confirmation to form submitter" should be checked.

[2018-05-30 08:19] dascalescuro commented on #295
another good read is this roadmap: https://calderaforms.com/gdpr/

[2018-05-30 13:33] rodica-andronache commented on #295
ok, @rohittm could you please update the doc with this thing? how to send a copy to the submitter

[2018-05-30 13:45] rodica-andronache commented on #248
@contactashish13 i was talking about the upload field, but also the recaptcha and the submit button alignment

[2018-05-30 15:44] rohittm commented on #295
Sure, I will 👍

[2018-05-31 16:05] rodica-andronache commented on #305
@rohittm plus after the release, please create a new form on the demo site to showcase the ajax form 👍  https://demo.themeisle.com/pirate-forms

[2018-05-31 16:14] rodica-andronache commented on #274
this will be available in the next release

[2018-05-31 16:14] #274 closed

[2018-05-31 16:15] #293 closed

[2018-05-31 16:16] rodica-andronache commented on #296
this will be available in the next release

[2018-05-31 16:16] #296 closed

[2018-05-31 16:34] rodica-andronache commented on #295
@contactashish13 let's also add an option to disable the tracking of the IP address, just after the option to 'Store submissions in the database'.
And let's make it by default **true**, meaning that we'll no longer track the IP, store it in the database and show it in the email content **by default**.
Let's also add the message "According to GDPR, we recommend you to ask for consent in order to st

[2018-05-31 18:58] rodica-andronache opened #310 "Check/Integrate Pirate Forms with WP 4.9.6"
https://prnt.sc/jp6adf

@contactashish13 please check the latest options in wp 4.9.6 https://wptavern.com/wordpress-4-9-6-beta-1-adds-tools-for-gdpr-compliance and see how Pirate Forms ( free and pro ) integrates with it.

If it's not integrated, we need to check on how we can do this.
Let me know your thoughts on this :)

[2018-05-31 19:02] rodica-andronache opened #311 "Store checkbox state in the database"
@contactashish13 we need to store in the database the fact that the user has clicked on the checkbox (for GDPR). This way, Pirate Forms users can prove they have consent.

From what I've seen the checkbox state is not saved in the database or in the email content. Am I missing something?

[2018-06-01 05:46] contactashish13 commented on #226
@rodica-andronache have fixed this as well as added support for pro. The inspector panel can be used to change the form. I think this needs extensive testing

- with/without pro
- with/without gutenberg
- with multiple forms

[2018-06-01 06:02] contactashish13 commented on #306
@selul have removed that functionality. PR: https://github.com/Codeinwp/pirate-forms/pull/312

[2018-06-01 06:20] contactashish13 commented on #295
@rodica-andronache

1. Maybe we should make it similar to the store submissions checkbox i.e. unchecked by default and the label reading "Track IP". It will be more consistent.
2. The IP is also used for checking whether its a blacklisted IP (from the WP discussion settings) and whether its spam (using akismet). If the user does not enable tracking of IP, should these functionalities also not use

[2018-06-01 11:01] contactashish13 commented on #311
@rodica-andronache the checkbox in pro is a custom field so it has to be manually added to the email content by using the magic tags. The magic tags list all the custom fields.

I've added support for adding checkbox in lite although even here the magic tags would need to be manually added. PR: https://github.com/Codeinwp/pirate-forms/pull/313

Have added test cases for checking this as well.

[2018-06-01 14:41] contactashish13 opened #314 "Inconsistent sanitization of field labels leads to that field's value not being captured in the email/entry"
To reproduce (reproduce with checkbox field in lite and pro)

Admin
- Create a mandatory checkbox with its label containing
- [ ] multiple HTML tags
- [ ] multiple special characters
- [ ] foreign characters
- [ ] mix of everything
- add this field's magic tag to the email content

User
- Check the checkbox and submit the form
- check the Entry and see if the the value of the checkbox ("yes") is s

[2018-06-01 19:41] rodica-andronache commented on #226
@contactashish13 I had just a brief look. I think there is a small problem with the Custom spam trap in the dashboard https://prnt.sc/jpnzvf. When using recaptcha, is not showing on the dashboard.
And when choosing Edit as HTML, you can't actually edit the form. I'm not sure how we can do this, but how this is working now, I'm not sure there is any way of using the ajax support in the form.  Do yo

[2018-06-01 19:42] rodica-andronache commented on #226
@rohittm please have a round of testing for this, and let me know what you find out in each case 👍

[2018-06-01 19:54] rodica-andronache commented on #314
@contactashish13 I'm not sure I understood. Is this related to https://github.com/Codeinwp/pirate-forms/pull/313 ?

[2018-06-02 04:28] contactashish13 commented on #314
No but I found this while testing for #311.

On Jun 2, 2018, 01:24, at 01:24, Rodica-Elena Andronache <notifications@github.com> wrote:

[2018-06-02 07:15] contactashish13 commented on #226
@rodica-andronache good point about the ajax support! :+1: have added that in the inspector panel as well and fixed all other issues you mentioned. I have removed the Edit as HTML as I don't think it was of any use.

[2018-06-02 07:27] contactashish13 commented on #248
@rodica-andronache are you saying the captch and submit button should not be center aligned?

[2018-06-02 13:09] rohittm commented on #226
@contactashish13 I tested with the free version. It works fine. One thing I found was:

Step 1: Enable spam trap (custom, or reCAPTCHA) in settings.
![screen shot 2018-06-02 at 18 09 19](https://user-images.githubusercontent.com/3204558/40874688-1d2601bc-6690-11e8-930e-777ad81273a5.png)
Step 2: Add a new post with pirate forms block in Gutenberg and publish it.
![screen shot 2018-06-02 at 18 10 51

[2018-06-02 13:17] contactashish13 commented on #226
@rohittm yes this is a problem for which (in my limited knowledge) there is no solution because gutenberg saves the HTML in the editor. The same behavior will be exhibited if you change a field's display type from required/display to not display. @HardeepAsrani can you please comment here?

[2018-06-02 14:54] rohittm commented on #305
@rodica-andronache @contactashish13

Check this: [How to enable form submission without reloading the page using AJAX](https://docs.themeisle.com/article/909-how-to-enable-form-submission-without-reloading-the-page-using-ajax) and let me know if there are any edits or corrections that can be done.

[2018-06-03 18:05] rodica-andronache commented on #305
@rohittm looking good 👍 Make sure you mention the doc, in the main doc also, I think it would make it easier to be found. And you can also create the page on the demo and save it as draft until the release. Thanks :)

[2018-06-03 22:03] HardeepAsrani commented on #226
Unless you fetch things every time the page loads, this will happen, unfortunately. Don't think it will affect anyone much. 😄

[2018-06-06 14:45] rodica-andronache commented on #310
@contactashish13 is looking good :D Yes, for the pro thing. And yes, we'll update the readme too, thanks for letting me know 👍

[2018-06-06 14:52] rodica-andronache commented on #311
@contactashish13 I got two notices one in the dashboard https://prnt.sc/jrnfp3 and one on the form page https://prnt.sc/jrnfvd Could you please test with WP DEBUG enabled? Thank you :D

[2018-06-07 11:07] rodica-andronache opened #316 "Check compatibility with one seo pack"
https://wordpress.org/support/topic/javascript-conflict-on-initall-function-2/

[2018-06-07 13:42] contactashish13 commented on #226
@HardeepAsrani I've changed this to fetch the form every time but it is not the best implementation because any time I change an attribute it thinks the form has changed and prompts me to save the post. Can you please check if there is a better way?

[2018-06-07 19:12] HardeepAsrani commented on #226
Don't see any other ways. It's better to let it go as it's not a deal breaker.

[2018-06-08 15:09] rohittm commented on #305
@rodica-andronache here: https://demo.themeisle.com/pirate-forms/ajax-forms/

[2018-06-09 07:30] rodica-andronache commented on #305
thank you 👍

[2018-06-09 07:30] #305 closed

[2018-06-11 06:31] contactashish13 commented on #311
@rodica-andronache these have already been fixed in a previous PR. I don't remember which one (there are 4 active PRs) but this should be okay when you merge.

[2018-06-11 07:09] contactashish13 commented on #316
@rodica-andronache PR: https://github.com/Codeinwp/pirate-forms/pull/317

[2018-06-11 12:34] rodica-andronache opened #318 "Check compatibility with Advanced Access Manager"
https://secure.helpscout.net/conversation/593874108/162987?folderId=265052

[2018-06-14 07:00] contactashish13 opened #319 "Plugin does not work with some SMTP settings but Postman SMTP works"
ref: https://secure.helpscout.net/conversation/587133442/162312?folderId=212390#thread-1625866902

There was another ticket that had the same problem but I can't trace it any more.

I think this needs to be tested with a variety of SMTP options viz.
1. with SMTP auth off
2. with SMTP auth on and TLS/SSL/none

If Postman works, we might be doing something wrong.

[2018-06-14 10:38] contactashish13 commented on #310
PR for pro: https://github.com/Codeinwp/pirate-forms-pro/pull/76

For exporting, I'm doing nothing extra in pro. Do you want to let the user know that their account has been registered on these integrations?

For erasing, I'm removing the contact from the integrations.

I will need accounts for campaign monitor and aweber as they are paid.

[2018-06-18 08:31] rodica-andronache commented on #311
@contactashish13 ok for the warnings, but I don't understand here, how the checkbox is saved in the database. From what I've tested with the lite version, there is nothing about the checkbox either in the Entries or in the database. How is this working?

[2018-06-18 08:57] #306 closed

[2018-06-18 09:35] contactashish13 commented on #311
@rodica-andronache the checkbox is a field like all other fields. So it will need to be included in the email template, if it has been customized. If it has not been customized, the default email template will contain the checkbox field as well.

![image](https://user-images.githubusercontent.com/12953439/41528763-9c556066-7308-11e8-8058-adc70938330c.png)

[2018-06-18 10:07] rodica-andronache commented on #226
@rohittm I would need you to test again the gutenberg block here https://github.com/Codeinwp/pirate-forms/pull/320 . Please test the Ajax option and see if everything is ok.
Not sure if it's because of gutenberg, or my computer, but every time I try to enable ajax for the block, my page gets stuck.

[2018-06-18 10:58] rodica-andronache commented on #311
ok, thank you :D  I updated the doc here too https://docs.themeisle.com/article/886-gdpr-and-pirate-forms

[2018-06-18 10:58] #311 closed

[2018-06-18 11:04] rodica-andronache commented on #295
@contactashish13 yes for both 👍 thank you

[2018-06-19 04:17] contactashish13 commented on #295
@rodica-andronache PR: https://github.com/Codeinwp/pirate-forms/pull/322

[2018-06-19 10:18] rodica-andronache commented on #248
@contactashish13
- Hestia
How it looks now https://prnt.sc/jwnus7 ; how it should look (like before) https://prnt.sc/jwnuwa
+ on mobile https://prnt.sc/jwnvq9 ; this is how it should be https://prnt.sc/jwnvwu
How it looks now https://prnt.sc/jwnwhy; how it should look https://prnt.sc/jwnwms

Same for zerif
now: https://prnt.sc/jwnxnt ; how it should be https://prnt.sc/jwnxqx

The idea is that we c

[2018-06-19 13:08] rodica-andronache commented on #295
@contactashish13 we should have this for pro too, right?

[2018-06-19 16:13] contactashish13 commented on #248
@rodica-andronache It might be more helpful if you can annotate these screenshots with the exact things you feel are out of place otherwise it will become a subjective review. For example, I can only see the file control as a minor difference so I'm not sure how it will "break" the form.

[2018-06-20 04:17] contactashish13 commented on #295
@rodica-andronache we aren't tracking IP in pro.

[2018-06-20 12:36] rodica-andronache commented on #295
@contactashish13
isn't the same thing as for the store in the database option which is separated in pro for each form?
https://prnt.sc/jx5idd

[2018-06-20 12:51] rohittm commented on #226
@rodica-andronache Same thing is happening with me as well. AJAX forms aren't working. And when I go back to the editor, the page gets stuck, and I am unable to scroll.

cc @contactashish13

[2018-06-21 04:35] contactashish13 commented on #226
@rohittm can you share a video?

[2018-06-21 04:37] contactashish13 commented on #295
@rodica-andronache its already part of pro.

[2018-06-21 12:45] rodica-andronache commented on #295
@contactashish13 how is it working in pro? I don't see any option for that, for each individual form
Plus, I got this for one form with Pirate Forms and Pirate Forms Extended both from the development branches https://prnt.sc/jxlkqk. Do you know what may cause this?

[2018-06-21 13:22] contactashish13 commented on #295
@rodica-andronache here is my commit. I don't know how to search for it but it seems like things have got messed up while merging. Also I'm not sure why PRs against #295 have been merged when they are still only half-developed.

![image](https://user-images.githubusercontent.com/12953439/41721664-24d4e984-7584-11e8-84e3-1c2fc5578d95.png)

[2018-06-21 13:54] rodica-andronache commented on #295
@contactashish13 I'm not sure, maybe I've messed the PR. But I can't find here the branch from the screenshot https://github.com/contactashish13/pirate-forms-pro . Only in lite, which is already merged on dev. Maybe you can add the commit again?

[2018-06-21 15:45] rodica-andronache commented on #248
@contactashish13 ok will add more details in future screenshots. But for now, yes, I was talking about the upload field. The idea is to not change anything, at least for the most popular themes, it should look exactly like before for all the fields 👍

[2018-06-21 15:57] contactashish13 commented on #310
development still pending, reopening.

[2018-06-22 06:40] contactashish13 commented on #295
@rodica-andronache I've added this back. And also added support for aweber and campaign monitor (#310) PR: https://github.com/Codeinwp/pirate-forms/pull/324 and https://github.com/Codeinwp/pirate-forms-pro/pull/77

PS - I think this will need major testing :)

[2018-06-22 12:20] rodica-andronache commented on #295
ok 💃  @rohittm can you please test and make a small report https://github.com/Codeinwp/pirate-forms/pull/324 and https://github.com/Codeinwp/pirate-forms-pro/pull/77

Test the integrations from here https://github.com/Codeinwp/pirate-forms/issues/310
and the option to stop tracking the IP in the pro version

[2018-06-23 06:56] contactashish13 commented on #248
@rodica-andronache have fixed and tested this with a few themes. Can you also verify?

[2018-06-25 05:09] contactashish13 commented on #316
@rodica-andronache done

[2018-06-25 12:53] contactashish13 commented on #248
@rodica-andronache you must be using new pro with an old lite while having defined a select box

[2018-07-01 04:48] contactashish13 commented on #303
reopening as this is still a problem. ref: https://secure.helpscout.net/conversation/609244530/164330 (issue observed while trying to resolve the main issue stated in the ticket)

[2018-07-01 06:18] contactashish13 opened #326 "Ajax not working, file attachment not being sent"
ref: https://secure.helpscout.net/conversation/609244530/164330

@rodica-andronache multiple problems. Need thorough testing of the plugin with the massive number of changes that were pushed through.

[2018-07-01 06:59] contactashish13 commented on #326
PR: https://github.com/Codeinwp/pirate-forms/pull/327

[2018-07-02 08:52] rodica-andronache commented on #326
@contactashish13 how's the attachment saved in the Entries list? Is there a magic tag that can be used? I can't see one in here https://docs.themeisle.com/article/779-how-to-change-default-email-content-in-pirate-forms.

[2018-07-02 08:58] contactashish13 commented on #326
@rodica-andronache its not saved; it is only sent in the email. That is why there is no magic tag for it.

[2018-07-02 09:12] rodica-andronache commented on #326
shouldn't we also save it?

[2018-07-02 12:34] contactashish13 commented on #326
I thought we should but at that time Marius wanted to see what customers want so I guess we never got around to it.

On Jul 2, 2018, 14:42, at 14:42, Rodica-Elena Andronache <notifications@github.com> wrote:

[2018-07-02 16:38] HardeepAsrani commented on #226
@contactashish13 I think Rohit was talking about this as it's happening with me as well: https://drive.google.com/file/d/1vYiEeZSuoQUJ9cnlIteExDOrwFwrhbf_/view?usp=sharing

[2018-07-03 11:34] contactashish13 commented on #303
@rodica-andronache looks like the help icons don't work with even default WP themes because of this conflict. None of the methods I could find on forums appear to work.

I have thus changed the behavior in case a conflict takes place and added the help text under the element using JS. PR: https://github.com/Codeinwp/pirate-forms/pull/328

before
![image](https://user-images.githubusercontent.com/1

[2018-07-03 13:29] rodica-andronache commented on #303
@contactashish13, in my opinion, this is looking really messy and as most of the themes use bootstrap, I don't think that's the best solution.
Couldn't you add a simple css tooltip when the js is not working? 👍

[2018-07-03 14:31] #310 closed

[2018-07-03 14:33] rodica-andronache commented on #326
would it be difficult to implement? I think it would be useful

[2018-07-03 14:39] #316 closed

[2018-07-04 09:21] contactashish13 commented on #303
@rodica-andronache I tried using bootstrap JS instead but because of the conflict I can't seem to use that either. WP Pointers also does not appear to work. Let me know if you have a particular utility/JS in mind. If you prefer a CSS solution, a CSS expert can do this better and faster than I can :)

[2018-07-04 09:44] rodica-andronache commented on #303
@contactashish13 ok :D You can fix the conflict here https://github.com/Codeinwp/pirate-forms/pull/328 and after that @stefan-cotitosu can try to help us with some css :D

[2018-07-04 11:14] #295 closed

[2018-07-05 12:01] contactashish13 commented on #326
@rodica-andronache have added this feature. This can be enabled by an option in the settings and is off by default. PR for pro: https://github.com/Codeinwp/pirate-forms-pro/pull/80

[2018-07-05 12:11] contactashish13 commented on #303
@rodica-andronache done

[2018-07-06 08:06] laurentiu1themeisle opened #329 "Pirate Forms - SMTP - Not sending emails"
ref: https://wordpress.org/support/topic/invalid-argument-supplied-in-version-2-4-3/

The testing from the back end works (receive the confirmation email).
The front end form it's not working:
error: “Warning: Invalid argument supplied for foreach() in /customers/8/4/0/treeworld.be/httpd.www/wp-content/plugins/pirate-forms/public/partials/pirateforms-form.php on line 51 ”

[2018-07-08 08:46] contactashish13 commented on #326
@rodica-andronache it is a field, so you have to provide the magic tag `attachments`. The file is being saved on the file system under uploads/pirate-forms/saved.

All magic tags work only when store in db is selected so I'm not sure what you mean.

[2018-07-12 11:34] rodica-andronache commented on #326
@contactashish13 thanks, understood 👍
it's working ok for me, the only thing is that when using ajax, even though everything is saved correctly, I don't get a 'Thanks, your email was sent successfully! ' message, or as a matter of fact, no message at all, success or error.

[2018-07-12 11:37] rodica-andronache commented on #303
@stefan-cotitosu here we need to make the tooltips here https://prnt.sc/k5l5ib work again ( with some simple css or js )

[2018-07-12 11:47] #308 closed

[2018-07-12 11:49] rodica-andronache commented on #248
@contactashish13 if that's the case, isn't that a problem? Shouldn't it be compatible with older versions? ( like not giving a fatal error 👍  )

[2018-07-12 13:16] contactashish13 commented on #326
@rodica-andronache should I test with the dev branch?

[2018-07-12 13:19] contactashish13 commented on #248
@rodica-andronache Are you sure people will upgrade to a version that supports select and then downgrade to a version that does not? :)

[2018-07-12 13:20] rodica-andronache commented on #326
@contactashish13 yes

[2018-07-12 16:12] contactashish13 commented on #326
@rodica-andronache looks like a couple of methods were left out while merging. I've fixed this. I also found a problem with ajax forms on zerif.

PR: https://github.com/Codeinwp/pirate-forms/pull/331

[2018-07-12 19:40] HardeepAsrani commented on #226
I think I've figured out the issue, so will try to debug it. It's ending requests to Rest API every moment which is causing this issue.

[2018-07-12 20:24] HardeepAsrani commented on #226
@contactashish13  Seems like a lot of functions are being called again and again. It's an endless loop. Maybe you can try add some comment to each function and see this loop. It happens when you turn from Text to Visual editor.

I'm testing with free version only. I can try to solve it but I don't understand logic used here for loading so that will be hard. :) If you can't reproduce this on your e

[2018-07-19 08:29] rodica-andronache opened #333 "Scroll to the frontpage contact section for Zerif Lite/Zerif Pro"
From what I know the code in zerif was working when the custom form from the theme was used, not pirate forms. I think there's something needs to be done in Pirate Form lite and pro to make this happen for Zerif
https://secure.helpscout.net/conversation/623282502/166048/?folderId=265052

[2018-07-20 09:00] contactashish13 commented on #333
@rodica-andronache I don't see a problem: https://drive.google.com/file/d/1gA_5LDAdczBOZP-PeUQ373B1i_eKCfrp/view

@Vishakha-Patel can you please paste the URL before and after you submit the form? It should be of the form `?done=done&pcf=#b73e9c5432`. There could be some conflict if some plugins/themes overwrite the URL, as happened with another ticket on HS that I am unable to find right now.

[2018-07-20 09:27] contactashish13 commented on #226
@rodica-andronache waiting for @HardeepAsrani's response

[2018-07-21 07:14] contactashish13 opened #334 "Specifying a 'select' element in the custom fields causes a fatal error"
ref: https://secure.helpscout.net/conversation/624862594/166186

[2018-07-21 08:03] contactashish13 commented on #334
@rodica-andronache PR: https://github.com/Codeinwp/pirate-forms/pull/335 and https://github.com/Codeinwp/pirate-forms-pro/pull/82. Both issued against master for an immediate release.

PS - I don't know why both builds are failing because of phpcs. I can't seem to find the reason. Even the raw log does not give me more information.

[2018-07-22 06:46] Vishakha-Patel commented on #333
@contactashish13

Previous page: http://localhost/zerifpro/
After submission: http://localhost/zerifpro/?done=done&pcf#f0bfa1d9c1

But it does not scroll to the contact section like shown in your video. I have recorded one here - http://nimb.ws/cIaYQm

[2018-07-23 05:20] D3nnis3n opened #338 "Spamtrap reset when changing theme with customizer"
Hey, i use Zerif Lite as Theme and PirateForms. Whenever i edit my theme with the customizer, the Spamtrap configuration for recaptcha in priate forms settings gets reset to "No" from "Google reCAPTCHA" and the recatpcha consequently removed - spam goes on again.

[2018-07-23 05:31] contactashish13 commented on #333
@Vishakha-Patel can you test with https://github.com/Codeinwp/pirate-forms/pull/339?

[2018-07-23 06:17] Vishakha-Patel commented on #333
@contactashish13

Works for me. Checked with the Pirate Forms Master branch and #339. + Zerif Lite.

URL I receive after submission: http://localhost/zerif/?done=done&pcf#91ef6c41ef

Screenshot: http://prntscr.com/k9r9wm

[2018-07-25 14:34] Vishakha-Patel opened #340 "Rename initAll function"
User: "you have an initAll function in your code which conflicts with the function initAll (same name) or all in one seo pack. Please, add a prefix to your JS function to create a unique name or wrap them inside a class. I’m writing to all in one seo pack as well."

Thread: https://wordpress.org/support/topic/javascript-conflict-on-initall-function-2/

I know are have sold this but adding for the

[2018-07-30 12:48] Vishakha-Patel opened #341 "warning"
PHP Warning: Invalid argument supplied for foreach() in /home/blah.../plugins/pirate-forms/public/partials/pirateforms-form.php on line 51

It appears when we submit the form without selecting custom captcha. "Custom" option needs to be selected for the option "Add a spam trap" option here to replicate this warning.

Forum: https://wordpress.org/support/topic/invalid-argument-supplied-in-version-2

[2018-08-03 11:24] stefan-cotitosu opened #342 "Notice: undefined variable _SESSION"
I've discovered the issue on the front page of Hestia, but you can replicate it by using the shortcode [pirate_forms] on any page.

It says that variable **_SESSION** is undefined, and I found on StackOverflow that _session_start()_ should be called at the beginning of the request. It is called on line 179 in function _display_form_.

<img width="1231" alt="pirate-forms-warning" src="https://user-

[2018-08-17 13:29] rodica-andronache commented on #340
@Vishakha-Patel this should have been fixed here https://github.com/Codeinwp/pirate-forms/issues/316 . Can you please check?